{% extends '::base.html.twig' %}
{% block page_title %} - {% trans %}db.title.new{% endtrans %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}

<div class="box box-body">
    <div class="form_box">
        <form action="{{ path('db_create') }}" method="post" {{ form_enctype(form) }}>

            <span class="label label-important">{{ form_errors(form) }}</span>

            <div class="general-section">
                {{form_row(form.name)}}
                {{form_row(form.description)}}
                {{form_row(form.service)}}
            </div>

            <div class="admin-section">
                {{ form_rest(form) }}
            </div>

            <p>
                <button class="btn btn-success" type="submit">{% trans %}db.button.create{% endtrans %}</button>
            </p>
        </form>
    </div>
</div>

<ul class="record_actions">
    <li>
        <a href="{{ path('db') }}">
            {% trans %}db.button.back{% endtrans %}
        </a>
    </li>
</ul>

{% endblock %}
