{% extends '::base.html.twig' %}
{% block header_title %} - {% trans %}MailWBList list{% endtrans %}{% endblock %}
{% block body %}


<table class="records_list table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Sender</th>
            <th>Rcpt</th>
            <th>Reject</th>
            <th>Blacklisted</th>
            <th>Enabled</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('mailwblist_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.sender }}</td>
            <td>{{ entity.rcpt }}</td>
            <td>{{ entity.reject }}</td>
            <td>
					<a href="{{ path('mailwblist_setblacklisted', { 'id': entity.id }) }}">
						<b>{% if entity.blacklisted %} B {% else %} W {% endif %}</b>
					</a>
				</td>
				<td>
               <a href="{{ path('mailwblist_setenabled', { 'id': entity.id }) }}">
                  <img src="{% if entity.getenabled %}{{ asset('images/true_tick.png') }}{% else %}{{ asset('images/false_tick.png') }}{% endif %}" alt="" />
               </a>
				</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('mailwblist_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('mailwblist_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('mailwblist_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(entities) }}
</div>
{% endblock %}
