{% extends '::base.html.twig' %}
{% block page_title %} - {% trans %}HttpdUser list{% endtrans %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/acsacspanel/js/jquery.highlight-4.closure.js')}}"></script>
{% endblock %}

{% block body %}

{% embed "ACSACSPanelBundle:Common:action_links.html.twig" with {'entity_name': 'database', 'new': true} %}
    {% block new_link %}{{ path('httpduser_new') }}{% endblock %}
{% endembed %}

<div class="box box-primary box-body">
    <table class="records_list table table-striped table-bordered datatable">
        <thead>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Domain{% endtrans %}</th>
                <th>{% trans %}Protected dir{% endtrans %}</th>
                <th>{% trans %}Created at{% endtrans %}</th>
                <th>{% trans %}Updated at{% endtrans %}</th>
                <th>{% trans %}Enabled{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td data-title="{% trans %}Name{% endtrans %}" ><a href="{{ path('httpduser_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td data-title="{% trans %}Domain{% endtrans %}"><a href="{{ path('httpdhost_show', { 'id': entity.httpdhost.id}) }}">{{entity.httpdhost }}</a></td>
                <td data-title="{% trans %}Protected dir{% endtrans %}">{{ entity.protecteddir }}</td>
                <td data-title="{% trans %}Created at{% endtrans %}">{% if entity.createdAt %}{{ entity.createdAt|date(date_format) }}{% endif %}</td>
                <td data-title="{% trans %}Updated at{% endtrans %}">{% if entity.updatedAt %}{{ entity.updatedAt|date(date_format) }}{% endif %}</td>
                <td data-title="{% trans %}Enabled{% endtrans %}">
                    <a href="{{ path('httpduser_setenabled', { 'id': entity.id }) }}">
                        <img src="{% if entity.getenabled %}{{ asset('images/true_tick.png') }}{% else %}{{ asset('images/false_tick.png') }}{% endif %}" alt="" />
                    </a>
                </td>
                <td data-title="{% trans %}Actions{% endtrans %}">
                        <div class="dropdown">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                {% trans %}Actions{% endtrans %}
                                <span class="caret"></span>
                            </a>
                        <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{{ path('httpduser_show', { 'id': entity.id }) }}">{% trans %}show{% endtrans %}</a>
                        </li>
                        <li>
                            <a href="{{ path('httpduser_edit', { 'id': entity.id }) }}">{% trans %}edit{% endtrans %}</a>
                        </li>
                    </ul>
                </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% embed "ACSACSPanelBundle:Common:action_links.html.twig" with {'entity_name': 'database', 'new': true} %}
    {% block new_link %}{{ path('httpduser_new') }}{% endblock %}
{% endembed %}

{% endblock %}
