{% extends '::base.html.twig' %}
{% block body %}
<h1>HttpdUser</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{% trans %}Host{% endtrans %}</th>
            <td>{{ entity.host }}</td>
        </tr>
        <tr>
            <th>{% trans %}Name{% endtrans %}</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>{% trans %}Password{% endtrans %}</th>
            <td>{{ entity.password }}</td>
        </tr>
        <tr>
            <th>{% trans %}Protected directory{% endtrans %}</th>
            <td>{{ entity.protecteddir }}</td>
        </tr>
        <tr>
            <th>{% trans %}Domain{% endtrans %}</th>
            <td>{{ entity.httpdhost }}</td>
        </tr>
        <tr>
            <th>{% trans %}Created at{% endtrans %}</th>
            <td>{{ entity.createdAt|date(date_format) }}</td>
        </tr>
        <tr>
            <th>{% trans %}Updated at{% endtrans %}</th>
            <td>{{ entity.updatedAt|date(date_format) }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('httpduser') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('httpduser_edit', { 'id': entity.id }) }}">
            {% trans %}Edit{% endtrans %}
        </a>
    </li>
    <li>
        <form action="{{ path('httpduser_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" onclick="if(!confirm('{% trans %}Are you sure?{% endtrans %}')) { return false; }">{% trans %}Delete{% endtrans %}</button>
        </form>
    </li>
</ul>
{% endblock %}