{% extends '::base.html.twig' %}
{% block header_title %} - {% trans %}New IP Address{% endtrans %}{% endblock %}
{% block body %}

<div class="form_box">
    <form action="{{ path('ipaddress_create') }}" method="post" {{ form_enctype(form) }}>
        <span class="label label-important">{{ form_errors(form) }}</span>
        {{ form_widget(form) }}
        <p>
            <button class="btn" type="submit">{% trans %}Create{% endtrans %}</button>
        </p>
    </form>
</div>

<ul class="record_actions">
    <li>
        <a href="{{ path('ipaddress') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
</ul>

{% endblock %}
