{% extends '::base.html.twig' %}
{% block header_title %} - {% trans %}MailAlias creation{% endtrans %}{% endblock %}
{% block body %}

<div class="form_box">
    <form action="{{ path('mailalias_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {{ form_label(form.address) }}
        {{ form_widget(form.address) }} @ {{ form_widget(form.mail_domain) }}
        {{ form_label(form.goto) }}
        {{ form_widget(form.goto) }}
        <p>
            <button class="btn" type="submit">Create</button>
        </p>
        {{ form_rest(form) }}
    </form>
</div>

<ul class="record_actions">
    <li>
        <a href="{{ path('mailalias') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
