{% extends '::base.html.twig' %}
{% block header_title %} - {% trans %}Plan{% endtrans %}{% endblock %}

{% block breadcumb  %}
    {{ parent() }}
    <li>{% trans %}breadcumb.sep{% endtrans %} <a href="{{ path('plans') }}"> {% trans %}plans{% endtrans %}</a></li>
    <li>{% trans %}breadcumb.sep{% endtrans %} {% trans %}plans.title.show{% endtrans %}</li>
{% endblock %}

{% block body %}

<table class="record_properties table">
    <tbody>
        <tr>
            <th>{% trans %}plans.field.name{% endtrans %}</th>
            <td>{{ entity.planName }}</td>
        </tr>
        <tr>
            <th>{% trans %}plans.field.created_at{% endtrans %}</th>
            <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{% trans %}plans.field.updated_at{% endtrans %}</th>
            <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{% trans %}plans.field.quotas{% endtrans %}</th>
            <td><ul>
                    <li>{% trans %}plans.field.maxpanelreseller{% endtrans %}: {{ entity.maxpanelreseller }}</li>
                    <li>{% trans %}plans.field.maxpaneluser{% endtrans %}: {{ entity.maxpaneluser }}</li>
                    <li>{% trans %}plans.field.maxhttpdhost{% endtrans %}: {{ entity.maxhttpdhost }}</li>
                    <li>{% trans %}plans.field.maxhttpdalias{% endtrans %}: {{ entity.maxhttpdalias }}</li>
                    <li>{% trans %}plans.field.maxhttpduser{% endtrans %}: {{ entity.maxhttpduser }}</li>
                    <li>{% trans %}plans.field.maxdomain{% endtrans %}: {{ entity.maxdomain }}</li>
                    <li>{% trans %}plans.field.maxdnsdomain{% endtrans %}: {{ entity.maxdnsdomain }}</li>
                    <li>{% trans %}plans.field.maxmaildomain{% endtrans %}: {{ entity.maxmaildomain }}</li>
                    <li>{% trans %}plans.field.maxmailmailbox{% endtrans %}: {{ entity.maxmailmailbox}}</li>
                    <li>{% trans %}plans.field.maxmailalias{% endtrans %}: {{ entity.maxmailalias }}</li>
                    <li>{% trans %}plans.field.maxmailaliasdomain{% endtrans %}: {{ entity.maxmailaliasdomain }}</li>
                    <li>{% trans %}plans.field.maxdb{% endtrans %}: {{ entity.maxdb }}</li>
                    <li>{% trans %}plans.field.maxdbuser{% endtrans %}: {{ entity.maxdbuser }}</li>
            </ul></td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('plans') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('plans_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('plans_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" onclick="if(!confirm('{% trans %}Are you sure?{% endtrans %}')) { return false; }">{% trans %}Delete{% endtrans %}</button>
        </form>
    </li>
</ul>

{%endblock %}
