{% extends '::base.html.twig' %}
{% block page_title %} - {% trans %}MailLogrcvd list{% endtrans %}{% endblock %}
{% block body %}


<div class="box box-primary box-body">
    <table class="records_list table table-striped table-bordered datatable">
        <thead>
            <tr>
                <th>Sent at</th>
                <th>Sender</th>
                <th>Sender actions</th>
                <th>Rcpt</th>
                <th>Rcpt actions</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
            <tr>
                <td><a href="{{ path('maillogrcvd_show', { 'id': entity.id }) }}">{{ entity.createdat }}</a></td>
                <td>{{ entity.sender }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('mailwblist_new_sender', { 'sender': entity.sender , 'blacklisted': 1}) }}">
                                Add blacklist
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('mailwblist_new_sender', { 'sender': entity.sender , 'blacklisted': 0}) }}">
                                Add whitelist
                            </a>
                        </li>
                    </ul>
                </td>
                <td>{{ entity.rcpt }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('mailwblist_new_rcpt', { 'rcpt': entity.rcpt , 'blacklisted': 1}) }}">
                                Add blacklist
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('mailwblist_new_rcpt', { 'rcpt': entity.rcpt , 'blacklisted': 0}) }}">
                                Add whitelist
                            </a>
                        </li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('mailwblist_new_rcpt_sender', { 'rcpt': entity.rcpt , 'sender': entity.sender , 'blacklisted': 1}) }}">
                                Add blacklist
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('mailwblist_new_rcpt_sender', { 'rcpt': entity.rcpt , 'sender': entity.sender , 'blacklisted': 0}) }}">
                                Add whitelist
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
