{% extends '::base.html.twig' %}
{% block header_title %} - {% trans %}DNS > Domains list{% endtrans %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
        <script type="text/javascript" src="{{ asset('bundles/acsacspanel/js/jquery.highlight-4.closure.js')}}"></script>
{% endblock %}

{% block body %}

<table class="records_list table table-striped table-bordered">
    <thead>
        <tr>
            <th>{%trans%}Name{%endtrans%}</th>
            <th>{%trans%}Master{%endtrans%}</th>
            <th>{%trans%}Lastcheck{%endtrans%}</th>
            <th>{%trans%}Type{%endtrans%}</th>
            <th>{%trans%}Notifiedserial{%endtrans%}</th>
            <th>{%trans%}Records{%endtrans%}</th>
            <th>{%trans%}Enabled{%endtrans%}</th>
            <th>{%trans%}Actions{%endtrans%}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('dnsdomain_show', { 'id': entity.id }) }}">{{ entity.domain }}</a></td>
            <td>{{ entity.master }}</td>
            <td>{{ entity.lastCheck }}</td>
            <td>{{ entity.type }}</td>
            <td>{{ entity.notifiedSerial }}</td>
            <td>
                <ul>
                        {% render "ACSACSPanelBundle:DnsRecord:showWidget" with { 'records' : entity.dnsrecords }  %}
                </ul>
            </td>
            <td><a href="{{ path('dnsdomain_setenabled', { 'id': entity.id }) }}"><img src="{% if entity.enabled %}{{ asset('images/true_tick.png') }}{% else %}{{ asset('images/false_tick.png') }}{% endif %}" alt="" /></a></td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('dnsdomain_show', { 'id': entity.id }) }}">{%trans%}show{%endtrans%}</a>
                    </li>
                    <li>
                        <a href="{{ path('dnsdomain_edit', { 'id': entity.id }) }}">{%trans%}edit{%endtrans%}</a>
                    </li>
                    <li>
                        <a href="{{ path('dnsrecord_new_with_domain', { 'dnsdomain_id': entity.id }) }}">{%trans%}add record{%endtrans%}</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('dnsdomain_new') }}">
            {%trans%}Create a new entry{%endtrans%}
        </a>
    </li>
</ul>

{% endblock %}
