{% extends '::base.html.twig' %}
{% block header_title %} - {% trans %}dnsdomain.title.show{% endtrans %}{% endblock %}
{% block body %}

<table class="record_properties table">
    <tbody>
        <tr>
            <th>{%trans%}dnsdomain.field.name{%endtrans%}</th>
            <td>{{ entity.domain }}</td>
        </tr>
        <tr>
            <th>{%trans%}dnsdomain.field.master{%endtrans%}</th>
            <td>{{ entity.master }}</td>
        </tr>
        <tr>
            <th>{%trans%}dnsdomain.field.lastcheck{%endtrans%}</th>
            <td>{{ entity.lastCheck }}</td>
        </tr>
        <tr>
            <th>{%trans%}dnsdomain.field.type{%endtrans%}</th>
            <td>{{ entity.type }}</td>
        </tr>
        <tr>
            <th>{%trans%}dnsdomain.field.notifiedserial{%endtrans%}</th>
            <td>{{ entity.notifiedSerial }}</td>
        </tr>
        <tr>
            <th>{%trans%}dnsdomain.field.account{%endtrans%}</th>
            <td>{{ entity.account }}</td>
        </tr>
        <tr>
            <th>{%trans%}dnsdomain.field.enabled{%endtrans%}</th>
            <td>{{ entity.enabled }}</td>
        </tr>
        <tr>
            <th>{%trans%}dnsdomain.field.createdat{%endtrans%}</th>
            <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{%trans%}dnsdomain.field.updatedat{%endtrans%}</th>
            <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

{% render(controller("ACSACSPanelBundle:DnsRecord:showWidget", { 'records' : entity.dnsrecords }))  %}

<ul class="record_actions">
    <li>
        <a href="{{ path('dnsrecord_new_with_domain', { 'dnsdomain_id': entity.id }) }}">
            {%trans%}Add record{%endtrans%}
        </a>
    </li>
    <li>
        <a href="{{ path('dnsdomain') }}">
            {%trans%}Back to the list{%endtrans%}
        </a>
    </li>
    <li>
        <a href="{{ path('dnsdomain_edit', { 'id': entity.id }) }}">
            {%trans%}Edit{%endtrans%}
        </a>
    </li>
    <li>
        <form action="{{ path('dnsdomain_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" onclick="if(!confirm('{% trans %}Are you sure?{% endtrans %}')) { return false; }">{% trans %}Delete{% endtrans %}</button>
        </form>
    </li>
</ul>

{% endblock %}
