{% extends '::base.html.twig' %}
{% block page_title %} - {% trans %}Domain list{% endtrans %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/acsacspanel/js/jquery.highlight-4.closure.js')}}"></script>
{% endblock %}

{% block breadcumb  %}
    {{ parent() }}
    <li>{% trans %}breadcumb.sep{% endtrans %} <a href="{{ path('domain') }}"> {% trans %}domain{% endtrans %}</a></li>
    <li>{% trans %}breadcumb.sep{% endtrans %} {% trans %}domain.title.index{% endtrans %}</li>
{% endblock %}

{% block body %}

{% embed "ACSACSPanelBundle:Common:action_links.html.twig" with {'entity_name': 'database', 'new': true} %}
    {% block new_link %}{{ path('domain_new') }}{% endblock %}
{% endembed %}

<div class="box box-primary box-body">
    <table class="responsive records_list table table-striped table-bordered datatable" style="width: 100%;">
        <thead>
                <th class="center">{% trans %}Enabled{% endtrans %}</th>
                <th>Domain</th>
                <th>{% trans %}Child{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            {% if not entity.parentDomain %}
                <tr {% if not entity.enabled  %} class="disabled" {% endif %}>
                    <td data-priority="0" data-title="{% trans %}Enabled{% endtrans %}" class="center">
                        {% embed "ACSACSPanelBundle:Common:toggle_widget.html.twig" with {'entity': entity} %}{% block url %}{{ path('domain_setenabled', { 'id': entity.id }) }}{% endblock %}{% endembed %}
                    </td>
                    <td data-priority="1" data-title="{% trans %}Domain{% endtrans %}" ><a href="{{ path('domain_show', { 'id': entity.id }) }}">{{ entity.domain }}</a></td>
                        <td>
                            {% if entity.childDomains is not empty %}
                            <table class="responsive records_list table table-stripped table-condensed" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th class="center">{% trans %}Enabled{% endtrans %}</th>
                                        <th data-priority="1">{% trans %}Domain{% endtrans %}</th>
                                        <th class="center">{% trans %}HTTPD Alias{% endtrans %}</th>
                                        <th class="center">{% trans %}DNS Alias{% endtrans %}</th>
                                        <th class="center">{% trans %}Mail Alias{% endtrans %}</th>
                                        <th data-priority="2">{% trans %}Actions{% endtrans %}</th>
                                    </tr>
                                </thead>
                                {% for child in entity.childDomains %}
                                <tr>
                                    <td  data-title="{% trans %}Enabled{% endtrans %}" class="center">
                                        {% embed "ACSACSPanelBundle:Common:toggle_widget.html.twig" with {'entity': child} %}{% block url %}{{ path('domain_setenabled', { 'id': child.id }) }}{% endblock %}{% endembed %}
                                    </td>
                                    <td data-title="{% trans %}Domain{% endtrans %}" ><a href="{{ path('domain_show', { 'id': child.id }) }}">{{ child.domain }}</a></td>
                                    <td data-title="{% trans %}HTTPD Alias{% endtrans %}"  class="center"><a href="{{ path('domain_setalias', { 'id':child.id, 'type':'httpd' }) }}"><img src="{% if child.ishttpdalias %}{{ asset('images/true_tick.png') }}{% else %}{{ asset('images/false_tick.png') }}{% endif %}" alt="" /></a></td>
                                    <td data-title="{% trans %}DNS Alias{% endtrans %}"  class="center"><a href="{{ path('domain_setalias', { 'id':child.id, 'type':'dns' }) }}"><img src="{% if child.isdnsalias %}{{ asset('images/true_tick.png') }}{% else %}{{ asset('images/false_tick.png') }}{% endif %}" alt="" /></a></td>
                                    <td data-title="{% trans %}Mail Alias{% endtrans %}"  class="center"><a href="{{ path('domain_setalias', { 'id':child.id, 'type':'mail' }) }}"><img src="{% if child.ismailalias %}{{ asset('images/true_tick.png') }}{% else %}{{ asset('images/false_tick.png') }}{% endif %}" alt="" /></a></td>
                                    <td data-title="{% trans %}Actions{% endtrans %}" >
                                        <div class="dropdown">
                                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                                {% trans %}Actions{% endtrans %}
                                                <span class="caret"></span>
                                            </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                            <a href="{{ path('domain_show', { 'id': child.id }) }}">{% trans %}show{% endtrans %}</a>
                                            </li>
                                            <li>
                                            <a href="{{ path('domain_edit', { 'id': child.id }) }}">{% trans %}edit{% endtrans %}</a>
                                            </li>
                                        </ul>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                            {% endif %}
                        </td>
                    <td>
                        <div class="dropdown">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                {% trans %}Actions{% endtrans %}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="{{ path('domain_show', { 'id': entity.id }) }}">{% trans %}show{% endtrans %}</a>
                                </li>
                                <li>
                                    <a href="{{ path('domain_edit', { 'id': entity.id }) }}">{% trans %}edit{% endtrans %}</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>

{% embed "ACSACSPanelBundle:Common:action_links.html.twig" with {'entity_name': 'database', 'new': true} %}
    {% block new_link %}{{ path('domain_new') }}{% endblock %}
{% endembed %}

{% endblock %}
