{% extends '::base.html.twig' %}
{% block body %}
<h1>DatabaseUser edit</h1>

<div class="form_box">
    <form action="{{ path('databaseuser_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit">Edit</button>
        </p>
    </form>
</div>

<ul class="record_actions">
    <li>
        <a href="{{ path('databaseuser') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('databaseuser_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
