{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{ panel_name }}{% endblock %}</title>
        {% block stylesheets %}
            {% include "::stylesheets.html.twig" %}
            <link href="{{ asset('bundles/acsacspanel/css/jquery-ui/themes/base/jquery-ui-1.10.0.custom.min.css')}}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('bundles/acsacspanel/css/jquery.qtip.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('bundles/acsacspanel/css/ui.multiselect.css') }}" rel="stylesheet" type="text/css" />
            {% stylesheets '@CraueFormFlowBundle/Resources/assets/css/buttons.css' %}
                <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            <link href="{{ asset('bundles/alidatatable/css/demo_table.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/alidatatable/css/smoothness/jquery-ui-1.8.4.custom.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/acsacspanel/js/jquery/jquery.min.js')}}"></script>
            <script type="text/javascript" src="{{ asset('bundles/acsacspanel/js/plugins/localisation/jquery.localisation-min.js') }}" ></script>
            <script type="text/javascript" src="{{ asset('bundles/acsacspanel/js/plugins/tmpl/jquery.tmpl.1.1.1.js') }}" ></script>
            <script type="text/javascript" src="{{ asset('bundles/acsacspanel/js/jquery.qtip.min.js') }}" ></script>
            <script type="text/javascript" src="{{ asset('bundles/acsacspanel/bootstrap/js/bootstrap.min.js')}}"></script>
            <script type="text/javascript" src="{{ asset('bundles/acsacspanel/js/main.js') }}" ></script>
            <script type="text/javascript" src="{{ asset('bundles/acsacspanel/js/settings_tabs.js') }}" ></script>
            {% if term is defined %}
            <script type="text/javascript">
                var hls_query  = "{{ term }}";
            </script>
            {% endif %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container-fluid">
            <div id="heading" class="row-fluid">
                <h1 role="heading" class="ui-title span9"><a href="{{ path('acs_acspanel_homepage') }}" class="sys-title">{{ panel_name }}</a>{% block header_title %}{% endblock %}</h1>
                <div  id="user-tools" class="span3">
                  <p>
                  {% if app.session.get('is_superior_user') == 'true' %}Is superior user{% endif %}
                  {% trans %}Hello{%endtrans%}, <a href="{{ path('fos_user_profile_edit') }}" title="{{ app.user.username }}">{{ app.user.username }}</a> /
                  <a href="{{ path('fos_user_security_logout') }}" title="{% trans %}Logout{% endtrans %}">{% trans %}Logout{% endtrans %}</a>
                  </p>
                </div>
            </div>

            <div id="section-info" class="row-fluid main {% if is_granted('ROLE_ADMIN') %}admin{% endif %}">
              <div class="span9">
                    <ul class="breadcumb">
                    {% block breadcumb %}
				{#<li><a href="{{ path('acs_acspanel_homepage') }}">{% trans %}common.home{% endtrans %}</a></li>#}
                                <li><a href="{{ path('acs_acspanel_homepage') }}">
                                  {% if app.request.locale == 'gk' %}{{ app.user.username }}{% endif %}{% trans %}common.home{% endtrans %}{% if app.request.locale == 'gk' %}~{% if is_granted('ROLE_ADMIN') %}#{% else %}${% endif %}{% endif %}</a></li>
		    {% endblock %}
                    </ul>
                  </div>

                <div class="span3">
                    <div id="search-box">
                        <form class="" method="POST" action="{% if search_action is defined %}{{ path(search_action) }}{% else %}{{ path('global_search') }}{% endif %}">
<div class="input-append">
                            <input name="term"  placeholder="{% trans %}Type search terms..{% endtrans %}" type="TEXT" value="{% if term is defined %}{{ term }}{% endif %}" />
                            <input type="SUBMIT" class="btn" value="{% trans %}Search{% endtrans %}" />
</div>
                        </form>
                    </div>
                </div>

            </div>

            <div class="row-fluid main main-container">
                <div id="sidebar" class="">
                    {% block sidebar %}
                        <!-- TODO: Move this check to Builder -->
                        {% if is_granted('ROLE_ADMIN') %}
                            {{ knp_menu_render('ACSACSPanelBundle:Builder:superadminMenu') }}
                        {% elseif is_granted('ROLE_RESELLER') %}
                            {{ knp_menu_render('ACSACSPanelBundle:Builder:resellerMenu') }}
                        {% elseif is_granted('ROLE_USER') %}
                            {{ knp_menu_render('ACSACSPanelBundle:Builder:userMenu') }}
                        {% endif %}
                    {% endblock %}
                </div>
                <div id="content" class="container span10">
                    {% block fos_user_content %}
                    {% endblock fos_user_content %}

                    {% block body %}{% endblock %}
                </div>
                {#<div id="right-sidebar" class="span3">#}
                    {# render controller("ACSACSPanelBundle:Widget:news") #}
                    {# render controller("ACSACSPanelBundle:Widget:helpTip") #}
                    {# render controller("ACSACSPanelBundle:Widget:planList") #}
                    {# render controller("ACSACSPanelBundle:Widget:quotaList") #}
                {#</div>#}
            </div>

            <div id="footer-info" class="row-fluid main {% if is_granted('ROLE_ADMIN') %}admin{% endif %}">
	      <p class="pull-right"><a href="#">ACSPanel is GPL licensed</p></p>
            </div>

            <div id="footer" class="row-fluid">
                    <div class="span3">
                      {# render controller("ACSACSPanelBundle:Widget:quotaList") #}
                    <iframe src="http://ghbtns.com/github-btn.html?user=AltCtrlSupr&repo=acspanel&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe>
                    </div>
                    <div class="span6">
                        {# render controller("ACSACSPanelBundle:Widget:planList") #}

                    </div>
                <div class="span3">
                    {# render controller("ACSACSPanelBundle:Widget:quotaList") #}
                </div>
            </div>
        </div>
    </body>
</html>
