{# app/Resources/views/base-nomenu.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}ACSPanel{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('bundles/acsacspanel/css/main.css') }}" rel="stylesheet" type="text/css" />
            {#<link href="{{ asset('bundles/acsacspanel/css/jquery-ui/themes/base/jquery-ui.css')}}" rel="stylesheet" type="text/css" />#}
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/acsacspanel/js/jquery/jquery.min.js')}}"></script>
            {#<script type="text/javascript" src="{{ asset('bundles/acsacspanel/js/jquery/jquert-ui/jquery-ui.min.js')}}"></script>#}
            {#<script type="text/javascript" src="{{ asset('bundles/acsacspanel/js/plugins/localisation/jquery.localisation-min.js') }}" ></script>#}
            {#<script type="text/javascript" src="{{ asset('bundles/acsacspanel/js/plugins/tmpl/jquery.tmpl.1.1.1.js') }}" ></script>#}
            {#<script type="text/javascript" src="{{ asset('bundles/acsacspanel/js/ui.multiselect.js') }}" ></script>#}
            {#<script type="text/javascript" src="{{ asset('bundles/acsacspanel/js/jquery.qtip.min.js') }}" ></script>#}
            {#<script type="text/javascript" src="{{ asset('bundles/acsacspanel/js/main.js') }}" ></script>#}
		{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
