{% extends '::base.html.twig' %}
{% block header_title %} - {% trans %}User list{% endtrans %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
        <script type="text/javascript" src="{{ asset('bundles/acsacspanel/js/jquery.highlight-4.closure.js')}}"></script>
{% endblock %}

{% block body %}

<table class="records_list table table-striped table-bordered">
    <thead>
        <tr>
            <th class="center">{% trans %}Enabled{% endtrans %}</th>
            <th>{% trans %}Username{% endtrans %}</th>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Email{% endtrans %}</th>
            <th>{% trans %}Lastlogin{% endtrans %}</th>
            {#<th>{% trans %}Locked{% endtrans %}</th>#}
            <th>{% trans %}Plans{% endtrans %}</th>
            <th>{% trans %}Roles{% endtrans %}</th>
            <th>{% trans %}Childs{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        {% if is_granted('ROLE_SUPER_ADMIN') or entity.parentUser|length and entity.parentUser.id == app.user.id %}
            <tr>
                <td data-title="{% trans %}Enabled{% endtrans %}" class="center"><img src="{% if entity.enabled %}{{ asset('images/true_tick.png') }}{% else %}{{ asset('images/false_tick.png') }}{% endif %}" alt="" /></td>
                <td data-title="{% trans %}Username{% endtrans %}"><a href="{{ path('users_show', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
                <td data-title="{% trans %}Name{% endtrans %}">{{ entity.firstname }} {{ entity.lastname }}</td>
                <td data-title="{% trans %}Email{% endtrans %}"><a href="mailto://{{ entity.email }}">{{ entity.email }}</a></td>
                <td data-title="{% trans %}Lastlogin{% endtrans %}">{% if entity.lastLogin %}{{ entity.lastLogin|date(date_format) }}{% endif %}</td>
                {#<td align="center"><img src="{% if entity.locked %}{{ asset('images/true_tick.png') }}{% else %}{{ asset('images/false_tick.png') }}{% endif %}" alt="" /></td>#}
                <td data-title="{% trans %}Plans{% endtrans %}"><ul>{% for plan in entity.plans %} <li> {{ plan }} </li> {% endfor %}</ul></td>
                <td data-title="{% trans %}Roles{% endtrans %}"><ul>{% for role in entity.roles %} <li> {{ role }} </li> {% endfor %}</ul></td>
                <td data-title="{% trans %}Childs{% endtrans %}">
                    {% if entity.childusers|length %}
                        <ul>
                        {% for child in entity.childusers %}
                            <li><a href="{{ path('users_show', { 'id': child.id }) }}">{{ child.username }}</a></li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </td>
                <td data-title="{% trans %}Actions{% endtrans %}">
                    <div class="dropdown">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            {% trans %}Actions{% endtrans %}
                            <span class="caret"></span>
                        </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{{ path('users_show', { 'id': entity.id }) }}">{% trans %}show{% endtrans %}</a>
                        </li>
                        <li>
                            <a href="{{ path('users_edit', { 'id': entity.id }) }}">{% trans %}edit{% endtrans %}</a>
                        </li>
                    </ul>
            </div>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('users_new') }}">
            {% trans %}Create a new entry{% endtrans %}
        </a>
    </li>
</ul>

{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(entities) }}
</div>
{% endblock %}
