{% extends '::base.html.twig' %}
{% block header_title %} - {% trans %}HTTPD > Host list{% endtrans %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
        <script type="text/javascript" src="{{ asset('bundles/acsacspanel/js/jquery.highlight-4.closure.js')}}"></script>
{% endblock %}

{% block body %}

<table class="records_list table table-striped table-bordered">
    <thead>
        <tr>
            <th>{% trans %}Enabled{% endtrans %}</th>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Cgi{% endtrans %}</th>
            <th>{% trans %}Ssi{% endtrans %}</th>
            <th>{% trans %}Php{% endtrans %}</th>
            <th>{% trans %}Aliases{% endtrans %}</th>
            {% if is_granted('ROLE_ADMIN') %} 
                <th>{% trans %}Owner{% endtrans %}</th>
            {% endif %}
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
    <tr {% if not entity.enabled  %} class="disabled" {% endif %}>
            <td>
                <a href="{{ path('httpdhost_setenabled', { 'id': entity.id }) }}">
                    <img src="{% if entity.getenabled %}{{ asset('images/true_tick.png') }}{% else %}{{ asset('images/false_tick.png') }}{% endif %}" alt="" />
                </a>
            </td>
            <td><a href="{{ path('httpdhost_show', { 'id': entity.id }) }}">{{ entity.domain.name }}</a></td>
            <td align="center"><img src="{% if entity.cgi %}{{ asset('images/true_tick.png') }}{% else %}{{ asset('images/false_tick.png') }}{% endif %}" alt="" /></td>
            <td align="center"><img src="{% if entity.ssi %}{{ asset('images/true_tick.png') }}{% else %}{{ asset('images/false_tick.png') }}{% endif %}" alt="" /></td>
            <td align="center"><img src="{% if entity.php %}{{ asset('images/true_tick.png') }}{% else %}{{ asset('images/false_tick.png') }}{% endif %}" alt="" /></td>
            <td>
                {% if entity.aliases|length %}
                    <ul>
                        {% for alias in entity.aliases %}
                            <li>{{ alias }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
            {% if is_granted('ROLE_ADMIN') %} 
                <td>{{ entity.domain.user }}</td>
            {% endif %}
            <td>
                <ul>
                    <li>
                        <a href="{{ path('httpdhost_show', { 'id': entity.id }) }}">{% trans %}show{% endtrans %}</a>
                    </li>
                    <li>
                        <a href="{{ path('httpdhost_edit', { 'id': entity.id }) }}">{% trans %}edit{% endtrans %}</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('httpdhost_new') }}">
            {% trans %}Create a new entry{% endtrans %}
        </a>
    </li>
</ul>

{% endblock %}
