{% extends '::base.html.twig' %}
{% block header_title %} - {% trans %}HttpdHost creation{% endtrans %}{% endblock %}

{% block breadcumb  %}
    {{ parent() }}
    <li>{% trans %}breadcumb.sep{% endtrans %} <a href="{{ path('httpdhost') }}"> {% trans %}httpdhost{% endtrans %}</a></li>
    <li>{% trans %}breadcumb.sep{% endtrans %} {% trans %}httpdhost.title.new{% endtrans %}</li>
{% endblock %}

{% block body %}

    <form action="{{ path('httpdhost_create') }}" method="post" {{ form_enctype(form) }}>
        <div class="form_box row-fluid">
            <div class="span6">
                <span class="label label-important">{{ form_errors(form) }}</span>
                {{ form_row(form.domain) }}
                {{ form_row(form.configuration) }}
                <div class="control-group"><div class="controls">{{ form_widget(form.cgi) }}{{ form_label(form.cgi, null, {'label_attr': {'class':'checkbox inline'}})}}</div></div>
                <div class="control-group"><div class="controls">{{ form_widget(form.ssi) }}{{ form_label(form.ssi, null, {'label_attr': {'class':'checkbox inline'}})}}</div></div>
                <div class="control-group"><div class="controls">{{ form_widget(form.php) }}{{ form_label(form.php, null, {'label_attr': {'class':'checkbox inline'}})}}</div></div>
                <div class="control-group"><div class="controls">{{ form_widget(form.add_www_alias) }}{{ form_label(form.add_www_alias, null, {'label_attr': {'class':'checkbox inline'}})}}</div></div>
                <div class="control-group"><div class="controls">{{ form_widget(form.add_dns_record) }}{{ form_label(form.add_dns_record, null, {'label_attr': {'class':'checkbox inline'}})}}</div></div>
                {{ form_row(form.service) }}
                {{ form_row(form.proxy_service) }}
            </div>
            <div class="span6">
                <div class="control-group"><div class="controls">{{ form_widget(form.ssl) }}{{ form_label(form.ssl, null, {'label_attr': {'class':'checkbox inline'}})}}</div></div>
                {{ form_row(form.certificate) }}
                {{ form_row(form.certificate_key) }}
                {{ form_row(form.certificate_chain) }}
                {{ form_row(form.certificate_authority) }}
                {{ form_rest(form) }}
            </div>
        </div>
        <div class="container">
            <p>
                <button class="btn" type="submit">{% trans %}httpdhost.button.create{% endtrans %}</button>
            </p>
        </div>
    </form>

<ul class="record_actions">
    <li>
        <a href="{{ path('httpdhost') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
</ul>

{% endblock %}
