{% extends '::base.html.twig' %}
{% block header_title %} - {% trans %}WPSetup{% endtrans %}{% endblock %}
{% block body %}

<div class="box box-body">
    <table class="record_properties table">
        <tbody>
            <tr>
                <th>{% trans %}wpsetup.field.domain{% endtrans %}</th>
                <td><a href="{{ path('httpdhost_show', { 'id': entity.httpdhost.id }) }}">{{ entity.httpdhost.domain }}</a></td>
            </tr>
            <tr>
                <th>{% trans %}wpsetup.field.enabled{% endtrans %}</th>
                <td>{{ entity.enabled }}</td>
            </tr>
            <tr>
                <th>{% trans %}created_at{% endtrans %}</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>{% trans %}updated_at{% endtrans %}</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>
</div>

<ul class="record_actions">
    <li>
        <a href="{{ path('wpsetup') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('wpsetup_edit', { 'id': entity.id }) }}">
            {% trans %}Edit{% endtrans %}
        </a>
    </li>
    <li>
        <form action="{{ path('wpsetup_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" onclick="if(!confirm('{% trans %}Are you sure?{% endtrans %}')) { return false; }">{% trans %}Delete{% endtrans %}</button>
        </form>
    </li>
</ul>
{% endblock %}
