{% extends '::base.html.twig' %}
{% block page_title %} - {% trans %}DnsRecord list{% endtrans %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/acsacspanel/js/jquery.highlight-4.closure.js')}}"></script>
{% endblock %}

{% block breadcumb  %}
    {{ parent() }}
    <li>{% trans %}breadcumb.sep{% endtrans %} <a href="{{ path('dnsrecord') }}"> {% trans %}dnsrecord{% endtrans %}</a></li>
    <li>{% trans %}breadcumb.sep{% endtrans %} {% trans %}dnsrecord.title.index{% endtrans %}</li>
{% endblock %}

{% block body %}

<div class="box box-primary box-body">
    <table class="records_list table table-striped table-bordered datatable">
        <thead>
            <tr>
                <th>{%trans%}Name{%endtrans%}</th>
                <th>{%trans%}Type{%endtrans%}</th>
                <th>{%trans%}Content{%endtrans%}</th>
                <th>{%trans%}Ttl{%endtrans%}</th>
                <th>{%trans%}Prio{%endtrans%}</th>
                <th>{%trans%}Createdat{%endtrans%}</th>
                <th>{%trans%}Updatedat{%endtrans%}</th>
                <th>{%trans%}Actions{%endtrans%}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td data-title="{% trans %}Name{% endtrans %}"><a href="{{ path('dnsrecord_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td data-title="{% trans %}Type{% endtrans %}">{{ entity.type }}</td>
                <td data-title="{% trans %}Content{% endtrans %}">{{ entity.content }}</td>
                <td data-title="{% trans %}Ttl{% endtrans %}">{{ entity.ttl }}</td>
                <td data-title="{% trans %}Prio{% endtrans %}">{{ entity.prio }}</td>
                <td data-title="{% trans %}Created at{% endtrans %}">{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td data-title="{% trans %}Updated at{% endtrans %}">{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td data-title="{% trans %}Actions{% endtrans %}">
                        <div class="dropdown">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                {% trans %}Actions{% endtrans %}
                                <span class="caret"></span>
                            </a>
                        <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{{ path('dnsrecord_show', { 'id': entity.id }) }}">{%trans%}show{%endtrans%}</a>
                        </li>
                        <li>
                            <a href="{{ path('dnsrecord_edit', { 'id': entity.id }) }}">{%trans%}edit{%endtrans%}</a>
                        </li>
                    </ul>
                </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<ul>
    <li>
        <a class="btn btn-primary"  href="{{ path('dnsrecord_new') }}">
            {%trans%}Create a new entry{%endtrans%}
        </a>
    </li>
</ul>

{% endblock %}
