{% extends '::base.html.twig' %}
{% block header_title %} - {% trans %}MailDomain list{% endtrans %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
        <script type="text/javascript" src="{{ asset('bundles/acsacspanel/js/jquery.highlight-4.closure.js')}}"></script>
{% endblock %}

{% block body %}
<h1>MailDomain list</h1>

<table class="records_list table table-striped table-bordered">
    <thead>
        <tr>
            <th>Domain</th>
            <th>Description</th>
            <th>Maxaliases</th>
            <th>Maxmailboxes</th>
            <th>Maxquota</th>
            <th>Backupmx</th>
            <th>Mailbox</th>
				<th>Alias</th>
            <th>Enabled</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('maildomain_show', { 'id': entity.id }) }}">{{ entity.domain }}</a></td>
            <td>{{ entity.description }}</td>
            <td>{{ entity.maxAliases }}</td>
            <td>{{ entity.maxMailboxes }}</td>
            <td>{{ entity.maxQuota }}</td>
            <td>{{ entity.backupmx }}</td>
				<td>{% render "ACSACSPanelBundle:MailMailbox:showWidget" with { 'maildomain_id' : entity.id }  %}</td>
				<td>{% render "ACSACSPanelBundle:MailAlias:showWidget" with { 'maildomain_id' : entity.id }  %}</td>
            <td>
					<a href="{{ path('maildomain_setenabled', { 'id': entity.id }) }}">
					 	<img src="{% if entity.getenabled %}{{ asset('images/true_tick.png') }}{% else %}{{ asset('images/false_tick.png') }}{% endif %}" alt="" />
					</a>
				</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('maildomain_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('maildomain_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
						  <li>
								<a href="{{ path('mailmailbox_new_with_domain', { 'maildomain_id': entity.id }) }}">new mailbox</a>
							</li>
							<li>
						  		<a href="{{ path('mailalias_new_with_domain', { 'maildomain_id': entity.id }) }}">new alias</a>
							</li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('maildomain_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}
