{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 'highlight.css' %}
        <link rel="stylesheet" type="text/css" href="" />
        <script type="text/javascript" src="{{ asset('bundles/acsacspanel/js/jquery.highlight-4.closure.js')}}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
<h1>MailDomain list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Domain</th>
            <th>Description</th>
            <th>Maxaliases</th>
            <th>Maxmailboxes</th>
            <th>Maxquota</th>
            <th>Transport</th>
            <th>Backupmx</th>
            <th>Created</th>
            <th>Enabled</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('maildomain_show', { 'id': entity.id }) }}">{{ entity.domain }}</a></td>
            <td>{{ entity.description }}</td>
            <td>{{ entity.maxAliases }}</td>
            <td>{{ entity.maxMailboxes }}</td>
            <td>{{ entity.maxQuota }}</td>
            <td>{{ entity.transport }}</td>
            <td>{{ entity.backupmx }}</td>
            <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
					<a href="{{ path('maildomain_setenabled', { 'id': entity.id }) }}">
					 	<img src="{% if entity.getenabled %}{{ asset('images/true_tick.png') }}{% else %}{{ asset('images/false_tick.png') }}{% endif %}" alt="" />
					</a>
				</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('maildomain_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('maildomain_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('maildomain_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}
