{% extends '::base.html.twig' %}
{% block header_title %} - {% trans %}MailDomain{% endtrans %}{% endblock %}
{% block body %}

<table class="record_properties table">
    <tbody>
        <tr>
            <th>{% trans %}maildomain.field.domain{% endtrans %}</th>
            <td>{{ entity.domain }}</td>
        </tr>
        <tr>
            <th>{% trans %}maildomain.field.description{% endtrans %}</th>
            <td>{{ entity.description }}</td>
        </tr>
        <tr>
            <th>{% trans %}maildomain.field.maxaliases{% endtrans %}</th>
            <td>{{ entity.maxAliases }}</td>
        </tr>
        <tr>
            <th>{% trans %}maildomain.field.maxmailboxes{% endtrans %}</th>
            <td>{{ entity.maxMailboxes }}</td>
        </tr>
        <tr>
            <th>{% trans %}maildomain.field.maxquota{% endtrans %}</th>
            <td>{{ entity.maxQuota }}</td>
        </tr>
        <tr>
            <th>{% trans %}maildomain.field.transport{% endtrans %}</th>
            <td>{{ entity.transport }}</td>
        </tr>
        <tr>
            <th>{% trans %}maildomain.field.backupmx{% endtrans %}</th>
            <td>{{ entity.backupmx }}</td>
        </tr>
        <tr>
            <th>{% trans %}maildomain.field.enabled{% endtrans %}</th>
            <td>{{ entity.enabled }}</td>
        </tr>
        <tr>
            <th>{% trans %}maildomain.field.createdat{% endtrans %}</th>
            <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{% trans %}maildomain.field.updatedat{% endtrans %}</th>
            <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{% trans %}maildomain.field.mailboxes{% endtrans %}</th>
            <td>{% render(controller("ACSACSPanelBundle:MailMailbox:showWidget" , { 'maildomain_id' : entity.id }))  %}</td>
        </tr>
        <tr>
            <th>{% trans %}maildomain.field.setup_instructions{% endtrans %}</th>
            <td>{% include "ACSACSPanelBundle:Email:email_setup.html.twig" %}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('maildomain') }}">
            {% trans %}maildomain.button.back{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('maildomain_edit', { 'id': entity.id }) }}">
            {% trans %}maildomain.button.edit{% endtrans %}
        </a>
    </li>
    <li>
        <form action="{{ path('maildomain_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{% trans %}maildomain.button.delete{% endtrans %}</button>
        </form>
    </li>
</ul>
{% endblock %}
