{% extends '::base.html.twig' %}
{% block page_title %} - {% trans %}Server list{% endtrans %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/acsacspanel/js/jquery.highlight-4.closure.js')}}"></script>
{% endblock %}

{% block breadcumb  %}
    {{ parent() }}
    <li>{% trans %}breadcumb.sep{% endtrans %} <a href="{{ path('server') }}"> {% trans %}server{% endtrans %}</a></li>
    <li>{% trans %}breadcumb.sep{% endtrans %} {% trans %}server.title.index{% endtrans %}</li>
{% endblock %}

{% block body %}
{% embed "ACSACSPanelBundle:Common:action_links.html.twig" with {'entity_name': 'server', 'new': true} %}
    {% block new_link %}{{ path('server_new') }}{% endblock %}
{% endembed %}

<div class="box box-primary box-body">
    <table class="records_list table table-striped table-bordered datatable">
        <thead>
            <tr>
                <th>{% trans %}Hostname{% endtrans %}</th>
                <th>{% trans %}IP Address{% endtrans %}</th>
                <th>{% trans %}Description{% endtrans %}</th>
                <th>{% trans %}Services{% endtrans %}</th>
                <th>{% trans %}Enabled{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('server_show', { 'id': entity.id }) }}">{{ entity.hostname }}</a></td>
                <td>{{ entity.ip }}</td>
                <td>{{ entity.description }}</td>
                <td>
                    <ul>
                        {% for service in entity.services %}
                            <li><a href="{{ path('service_edit', { 'id': service.id }) }}"}>{{ service }}</a></li>
                        {% endfor %}
                    </ul>
                </td>
                    <td>
                        <a href="{{ path('server_setenabled', { 'id': entity.id }) }}">
                            <img src="{% if entity.getenabled %}{{ asset('images/true_tick.png') }}{% else %}{{ asset('images/false_tick.png') }}{% endif %}" alt="" />
                        </a>
                    </td>
                <td>
                        <div class="dropdown">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                {% trans %}Actions{% endtrans %}
                                <span class="caret"></span>
                            </a>
                        <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{{ path('server_show', { 'id': entity.id }) }}">{% trans %}show{% endtrans %}</a>
                        </li>
                        <li>
                            <a href="{{ path('server_edit', { 'id': entity.id }) }}">{% trans %}edit{% endtrans %}</a>
                        </li>
                    </ul>
                </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% embed "ACSACSPanelBundle:Common:action_links.html.twig" with {'entity_name': 'server', 'new': true} %}
    {% block new_link %}{{ path('server_new') }}{% endblock %}
{% endembed %}

{% endblock %}
