{% extends '::base.html.twig' %}
{% block header_title %} - {% trans %}Server list{% endtrans %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 'highlight.css' %}
        <link rel="stylesheet" type="text/css" href="" />
        <script type="text/javascript" src="{{ asset('bundles/acsacspanel/js/jquery.highlight-4.closure.js')}}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
<h1>{% trans %}Server list{% endtrans %}</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>{% trans %}Hostname{% endtrans %}</th>
            <th>{% trans %}IP Address{% endtrans %}</th>
            <th>{% trans %}Description{% endtrans %}</th>
            <th>{% trans %}Services{% endtrans %}</th>
				<th>{% trans %}Enabled{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('server_show', { 'id': entity.id }) }}">{{ entity.hostname }}</a></td>
            <td>{{ entity.ip }}</td>
            <td>{{ entity.description }}</td>
            <td>
                <ul>
                    {% for service in entity.services %}
                        <li><a href="{{ path('service_edit', { 'id': service.id }) }}"}>{{ service }}</a></li>
                    {% endfor %}
                </ul>
            </td>
				<td>
					<a href="{{ path('server_setenabled', { 'id': entity.id }) }}">
						<img src="{% if entity.getenabled %}{{ asset('images/true_tick.png') }}{% else %}{{ asset('images/false_tick.png') }}{% endif %}" alt="" />
					</a>
				</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('server_show', { 'id': entity.id }) }}">{% trans %}show{% endtrans %}</a>
                    </li>
                    <li>
                        <a href="{{ path('server_edit', { 'id': entity.id }) }}">{% trans %}edit{% endtrans %}</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('server_new') }}">
            {% trans %}Create a new entry{% endtrans %}
        </a>
    </li>
</ul>

{% endblock %}
