{% extends '::base.html.twig' %}
{% block header_title %} - {{ apiName }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        @font-face{font-family:'Droid Sans';font-style:normal;font-weight:400;src:local('Droid Sans'),local('DroidSans'),url(//themes.googleusercontent.com/static/fonts/droidsans/v3/s-BiyweUPV0v-yRb-cjciL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff')}@font-face{font-family:'Droid Sans';font-style:normal;font-weight:700;src:local('Droid Sans Bold'),local('DroidSans-Bold'),url(//themes.googleusercontent.com/static/fonts/droidsans/v3/EFpQQyG9GqCrobXxL-KRMXbFhgvWbfSbdVg11QabG8w.woff) format('woff')}.pln{color:#000}@media screen{.str{color:#080}.kwd{color:#008}.com{color:#800}.typ{color:#606}.lit{color:#066}.pun,.opn,.clo{color:#660}.tag{color:#008}.atn{color:#606}.atv{color:#080}.dec,.var{color:#606}.fun{color:red}}@media print,projection{.str{color:#060}.kwd{color:#006;font-weight:bold}.com{color:#600;font-style:italic}.typ{color:#404;font-weight:bold}.lit{color:#044}.pun,.opn,.clo{color:#440}.tag{color:#006;font-weight:bold}.atn{color:#404}.atv{color:#060}}pre.prettyprint{padding:2px;border:1px solid #888}ol.linenums{margin-top:0;margin-bottom:0}li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style-type:none}li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}

        #api-doc ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #api-doc ul li {
            margin: 0;
            padding: 0;
        }

        #api-doc h1 {
          color: black;
          font-size: 1.5em;
          line-height: 1.3em;
          padding: 10px 0 10px 0;
          font-family: "Droid Sans", sans-serif;
          font-weight: bold;
        }

        #api-doc h2 {
          color: black;
          font-size: 1.3em;
          padding: 10px 0 10px 0;
        }
        #api-doc h2 a {
          color: black;
        }

        #api-doc h3 {
          color: black;
          font-size: 1.1em;
          padding: 10px 0 10px 0;
        }

        #api-doc p {
          line-height: 1.4em;
          padding: 0 0 10px 0;
          color: #333333;
        }

        #api-doc a {
          color: #547f00;
        }

        #api-doc strong {
          font-family: "Droid Sans", sans-serif;
          font-weight: bold;
          font-weight: bold;
        }

        #api-doc em {
          font-style: italic;
        }

        #api-doc code, pre {
          font-family: "Anonymous Pro", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
          background-color: #fcf6db;
          white-space: pre-wrap;
          white-space: -moz-pre-wrap;
          white-space: -pre-wrap;
          white-space: -o-pre-wrap;
          word-wrap: break-word;
        }

        #api-doc p code {
          padding: 1px 4px 1px 4px;
          border: 1px solid #e5e0c6;
        }

        #api-doc pre {
          padding: 10px;
          border: 1px solid #e5e0c6;
          margin-bottom: 15px;
          line-height:1.2em;
        }

        #api-doc div.content ul, div.content ol {
          line-height: 1.4em;
          color: #333333;
        }

        #api-doc table.fullwidth {
          width: 100%;
        }
        #api-doc table.fullwidth > tbody > tr {
          border-bottom: 1px solid #cccccc;
        }
        #api-doc table.fullwidth > tbody tr:last-child {
          border-bottom: none;
        }
        #api-doc table thead tr th {
          padding: 5px;
          font-size: 0.9em;
          color: #666666;
          border-bottom: 1px solid #999999;
        }
        #api-doc table tbody tr td {
          padding: 6px;
          font-size: 0.9em;
          vertical-align: top;
          line-height: 1.3em;
        }

        #api-doc #header {
          background-color: #89BF04;
          padding: 1%;
          margin-bottom: 1%;
        }

        #api-doc #header h1 {
          font-size: 1.2em;
          float: left;
        }

        #api-doc #header a {
          text-decoration: none;
        }

        #api-doc #sandbox_configuration {
            float: right;
            padding: 10px 0 10px 0;
        }

        #api-doc #colophon {
          margin: 0 15px 40px 15px;
          padding: 10px 0;
          font-size: 0.8em;
          border-top: 1px solid #dddddd;
          font-family: "Droid Sans", sans-serif;
          color: #999999;
          font-style: italic;
        }

        #api-doc #resources {
          padding: 0 1%;
          font-family: "Droid Sans", sans-serif;
          font-size: 0.9em;
        }

        #api-doc .section {
            padding: 5px 20px;
            border-bottom: 1px solid #ddd;
        }

        #api-doc .section h1 {
            padding: 0;
        }

        #api-doc .section.active {
            border: 1px solid #ddd;
            background: #f8f8f8;
            margin: 15px 0;
        }

        #api-doc .section.active h1 {
            padding: 10px 0;
        }

        #api-doc .section .actions {
            text-align: right;
            float: right;
            margin-top: 10px;
        }

        #api-doc .section .actions a {
            cursor: pointer;
            margin-left: 10px;
        }

        #api-doc .section .actions a:hover {
            text-decoration: underline;
        }

        #api-doc li.resource {
          width: 100%;
          margin-bottom: 10px;
          border-bottom: 1px solid #dddddd;
        }
        #api-doc li.resource:last-child {
          border-bottom: none;
        }

        /* heading */
        #api-doc .heading {
          border: 1px solid transparent;
          float: none;
          clear: both;
          overflow: hidden;
          display: block;
        }
        #api-doc .heading h2 {
          color: #999999;
          padding-left: 0;
          display: block;
          clear: none;
          float: left;
          font-family: "Droid Sans", sans-serif;
          font-weight: bold;
        }
        #api-doc .heading ul.options {
          overflow: hidden;
          padding: 0;
          display: block;
          clear: none;
          float: right;
          margin: 6px 10px 0 0;
        }
        #api-doc .heading ul.options li {
          float: left;
          clear: none;
          margin: 0;
          padding: 2px 10px;
          border-right: 1px solid #dddddd;
          color: #666666;
          font-size: 0.9em;
        }
        #api-doc .heading ul.options li:first-child,
        #api-doc .heading ul.options li.first {
          padding-left: 0;
        }
        #api-doc .heading ul.options li:last-child,
        #api-doc .heading ul.options li.last {
          padding-right: 0;
          border-right: none;
        }

        /* operations */
        #api-doc li.operation {
          float: none;
          clear: both;
          overflow: hidden;
          display: block;
          margin: 0 0 10px;
          padding: 0 0 0 0;
        }
        #api-doc li.operation .heading {
          margin: 0 0 0 0;
          padding: 0;
          background-color: #f0f0f0;
          border: 1px solid #ddd;
        }
        #api-doc li.operation .heading h3 {
          display: block;
          clear: none;
          float: left;
          width: auto;
          margin: 0;
          padding: 0;
          line-height: 1.1em;
          color: black;
        }
        #api-doc li.operation .heading h3 span {
          margin: 0;
          padding: 0;
        }
        #api-doc li.operation .heading h3 span.icon {
            display: inline-block;
            height: 12px;
            width: 12px;
            margin-left: 3px;
            background: no-repeat center center;
        }
        #api-doc li.operation .heading h3 span.lock {
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAMCAYAAABbayygAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUHEisepJ6ljAAAAJ5JREFUGNNt0LEOAUEUheEPuwkFtSg0old4Eo/imbQKiULpBZQSCtFoaIjSktXMxpjsSW5xzvnnZmb4aYMymg9WEq1Decc1zCNkyxisoFGUTXDGEZpR8cIp8jccKiaLigwDdMP9hughr8ptALtYoB18C+Pgd5KXlrhgX5P/mSfmmKVgM/mmDP1qQ1rEyjFFkYKNmtMF3uikYFGzOdXnC5FWMZNd2GfvAAAAAElFTkSuQmCC");

        }
        #api-doc li.operation .heading h3 span.keys {
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAMCAYAAAC0qUeeAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUHEisb1PRRAwAAAN9JREFUKM9lz71KQ0EQhuEnJ7EIKhZWaRULu4htLLwDvYRgZWmTWoI3kAuIlVik0U5Io4USRMFOUGwU7cQ/kAQMajMHDpuBZWd235lvPtjHDT4xxhuu0ZJEhhXU8YAG7rCKBWyn8EnkVSxjOuoPbKTT1/GXnCd0YqWt4uQrk3GLGcxiswgPcRgG4QsDzKMSKtUc/kUbFwEf4BlrUdeCk8WOj3jBO+5xhGOMwmQzh6Ec9zemwtgOLuN9D4tZYqwUSvnuu3jFHLpZASqHUqXQfIZe5PX8Y4RTLKGfqLVwjp9/HR4zOkGnnAoAAAAASUVORK5CYII=");
        }
        #api-doc li.operation .heading h3 span.http_method i, li.operation .heading h3 span.deprecated i {
          text-transform: uppercase;
          text-decoration: none;
          color: white;
          display: inline-block;
          width: 50px;
          font-size: 0.7em;
          text-align: center;
          padding: 7px 0 4px 0;
          -moz-border-radius: 2px;
          -webkit-border-radius: 2px;
          border-radius: 2px;
          background-color: #ccc;
        }
        #api-doc li.operation .heading h3 span.deprecated i {
          width: 75px;
          background-color: #F00;
        }
        #api-doc li.operation .heading h3 span.path {
          padding-left: 5px;
        }

        #api-doc li.operation .heading h3 span.tag {
          color: #FFFFFF;
          font-size: 0.7em;
          vertical-align: baseline;
          background-color: #d9534f;
          padding-bottom: 3px;
          padding-left: 6px;
          padding-right: 6px;
          padding-top: 2px;
          border-radius: 4px;
        }

        #api-doc li.operation div.content {
          border: 1px solid #ddd;
          padding: 10px;
          -moz-border-radius-bottomleft: 6px;
          -webkit-border-bottom-left-radius: 6px;
          border-bottom-left-radius: 6px;
          -moz-border-radius-bottomright: 6px;
          -webkit-border-bottom-right-radius: 6px;
          border-bottom-right-radius: 6px;
          margin: 0 0 20px 0;
          background-color: #f0f0f0;
        }
        #api-doc li.operation > div.content {
            border-top:0px;
        }
        #api-doc li.operation div.content h4 {
          font-size: 1.1em;
          margin: 0;
          padding: 15px 0 5px 0;
        }
        #api-doc li.operation div.content form input[type='text'].error {
          outline: 2px solid #cc0000;
        }

        /* GET operations */
        #api-doc li.operation.get .heading {
          border-color: #c3d9ec;
          background-color: #e7f0f7;
        }
        #api-doc li.operation.get .heading h3 span.http_method i {
          background-color: #0f6ab4;
        }
        #api-doc li.operation.get .heading ul.options li {
          border-right-color: #c3d9ec;
          color: #0f6ab4;
        }

        #api-doc li.operation.get div.content {
          background-color: #ebf3f9;
          border-color: #c3d9ec;
        }
        #api-doc li.operation.get div.content h4 {
          color: #0f6ab4;
        }

        /* POST operations */
        #api-doc li.operation.post .heading {
          border-color: #a7e1a1;
          background-color: #d4f7cd;
        }
        #api-doc li.operation.post .heading h3 span.http_method i{
          background-color: #10a54a;
        }
        #api-doc li.operation.post .heading ul.options li {
          border-right-color: #c3e8d1;
          color: #10a54a;
        }

        #api-doc li.operation.post div.content {
          background-color: #ebf7f0;
          border-color: #c3e8d1;
        }
        #api-doc li.operation.post div.content h4 {
          color: #10a54a;
        }

        /* ANY operations */
        #api-doc li.operation.any .heading {
          background-color: lightgray;
          border-color: gray;
        }
        #api-doc li.operation.any .heading h3 span.http_method i {
          background-color: #000;
        }
        #api-doc li.operation.any .heading ul.options li {
          color: #000;
          border-right-color: gray;
        }

        #api-doc li.operation.any div.content {
          background-color: lightgray;
          border-color: gray;
        }
        #api-doc li.operation.any div.content h4 {
          color: #000;
        }

        /* PUT operations */
        #api-doc li.operation.put .heading {
          background-color: #f9f2e9;
          border-color: #f0e0ca;
        }
        #api-doc li.operation.put .heading h3 span.http_method i {
          background-color: #c5862b;
        }
        #api-doc li.operation.put .heading ul.options li {
          border-right-color: #f0e0ca;
          color: #c5862b;
        }

        #api-doc li.operation.put div.content {
          background-color: #faf5ee;
          border-color: #f0e0ca;
        }
        #api-doc li.operation.put div.content h4 {
          color: #c5862b;
        }

        /* DELETE operations */
        #api-doc li.operation.delete .heading {
          background-color: #f5e8e8;
          border-color: #e8c6c7;
        }
        #api-doc li.operation.delete .heading h3 span.http_method i {
          background-color: #a41e22;
        }
        #api-doc li.operation.delete .heading ul.options li {
          border-right-color: #e8c6c7;
          color: #a41e22;
        }

        #api-doc li.operation.delete div.content {
          background-color: #f7eded;
          border-color: #e8c6c7;
        }
        #api-doc li.operation.delete div.content h4 {
          color: #a41e22;
        }

        /* PATCH operations */
        #api-doc li.operation.patch .heading {
          background-color: #f5e8e8;
          border-color: #e8c6e7;
        }
        #api-doc li.operation.patch .heading h3 span.http_method i {
          background-color: #a41ee2;
        }
        #api-doc li.operation.patch .heading ul.options li {
          border-right-color: #e8c6c7;
          color: #a41ee2;
        }

        #api-doc li.operation.patch div.content {
          background-color: #f7eded;
          border-color: #e8c6c7;
        }
        #api-doc li.operation.patch div.content h4 {
          color: #a41ee2;
        }

        /* LINK operations */
        #api-doc li.operation.link .heading {
          background-color: #F7F7D5;
        }
        #api-doc li.operation.link .heading h3 span.http_method i {
          background-color: #C3D448;
        }
        #api-doc li.operation.link .heading ul.options li {
          color: #C3D448;
        }

        #api-doc li.operation.link div.content {
          background-color: #F7F7D5;
        }
        #api-doc li.operation.link div.content h4 {
          color: #C3D448;
        }

        /* UNLINK operations */
        #api-doc li.operation.unlink .heading {
          background-color: #FFEBDE;
        }
        #api-doc li.operation.unlink .heading h3 span.http_method i {
          background-color: #FF8438;
        }
        #api-doc li.operation.unlink .heading ul.options li {
          color: #FF8438;
        }

        #api-doc li.operation.unlink div.content {
          background-color: #FFEBDE;
        }
        #api-doc li.operation.unlink div.content h4 {
          color: #FF8438;
        }

        #api-doc .toggler {
          cursor: pointer;
        }


        /** sandbox */
        #api-doc .pane:not(.selected) {
          display: none;
        }

        #api-doc .result pre {
          border: none;
          font-size: 0.9em;
          overflow: auto;
        }

        #api-doc .result pre.to-shrink,
        #api-doc .result pre.to-expand {
          cursor:pointer;
        }

        #api-doc .result pre.to-expand {
          height: 1em;
          overflow:hidden;
        }

        #api-doc .tabs li {
          display: inline;
          float: left;
          margin: 10px;
          cursor: pointer;
        }

        #api-doc .tabs li.selected {
          font-weight: bold;
        }

        #api-doc .panes {
          clear: both;
        }

        #api-doc .pane.sandbox {
          border: 1px solid #C3D9EC;
          padding: 10px;
        }

        #api-doc .pane.sandbox legend {
          padding-bottom: 5px;
        }

        #api-doc .remove {
          cursor: pointer;
        }

        #api-doc .pane.sandbox .result {
          display: none;
        }

        #api-doc form .parameters {
          float: left;
          width: 50%;
        }

        #api-doc form .parameters .tuple input {
            width: 40%;
        }

        #api-doc form .headers,
        #api-doc form .request-content {
          float: left;
          width: 25%;
        }

        #api-doc .buttons {
          clear: both;
          padding-top: 10px;
        }

        #api-doc .request-content textarea {
            width:100%;
            min-width:100%;
            max-width:100%;
            height:5em;
            margin-bottom:10px;
        }

        #api-doc .pane.content div ul {
            list-style-type: disc;
            margin-left: 20px;
            margin-bottom: 10px;
        }

        #api-doc .motd {
          padding:20px;
        }

        #api-doc .json-collapse-section {
            color: #660;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="api-doc">
        <div id="header">
            <a href="{{ path('nelmio_api_doc_index') }}"><h1>{{ apiName }}</h1></a>
            {% if enableSandbox %}
                <div id="sandbox_configuration">
                    {% if bodyFormats|length > 0 %}
                    body format:
                    <select id="body_format">
                        {% if 'form' in bodyFormats %}<option value="form"{{ defaultBodyFormat == 'form' ? ' selected' : '' }}>Form Data</option>{% endif %}
                        {% if 'json' in bodyFormats %}<option value="json"{{ defaultBodyFormat == 'json' ? ' selected' : '' }}>JSON</option>{% endif %}
                    </select>
                    {% endif %}
                    {% if requestFormats|length > 0 %}
                    request format:
                    <select id="request_format">
                    {% for format, header in requestFormats %}
                        <option value="{{ header }}"{{ defaultRequestFormat == format ? ' selected' : '' }}>{{ format }}</option>
                    {% endfor %}
                    {% endif %}
                    </select>
                    {% if authentication %}
                        {% if authentication.delivery == 'http' and authentication.type == 'basic' %}
                            api login: <input type="text" id="api_login" value=""/>
                            api password: <input type="text" id="api_pass" value=""/>
                        {% elseif authentication.delivery in ['query', 'http', 'header'] %}
                            api key: <input type="text" id="api_key" value=""/>
                        {% endif %}

                        {% if authentication.custom_endpoint %}
                            api endpoint: <input type="text" id="api_endpoint" value=""/>
                        {% endif %}
                        <button id="save_api_auth" type="button">Save</button>
                        <button id="clear_api_auth" type="button">Clear</button>
                    {% endif %}
                </div>
            {% endif %}
            <br style="clear: both;" />
        </div>
        {% include motdTemplate %}
        <div class="container" id="resources_container" style="width: 100%;">
            <ul id="resources">
                {% block content %}{% endblock %}
            </ul>
        </div>
        <p id="colophon">
            Documentation auto-generated on {{ date }}
        </p>

        <script type="text/javascript">
            {{ js|raw }}
        </script>

        <script type="text/javascript">

            var getHash = function() {
              return window.location.hash || '';
            };

            var setHash = function(hash) {
                window.location.hash = hash;
            };

            var clearHash = function() {
                var scrollTop, scrollLeft;

                if(typeof history === 'object' && typeof history.pushState === 'function') {
                    history.replaceState('', document.title, window.location.pathname + window.location.search);
                } else {
                    scrollTop = document.body.scrollTop;
                    scrollLeft = document.body.scrollLeft;

                    setHash('');

                    document.body.scrollTop = scrollTop;
                    document.body.scrollLeft = scrollLeft;
                }
            };

            $(window).load(function() {
                var id = getHash().substr(1).replace( /([:\.\[\]\{\}|])/g, "\\$1");
                var elem = $('#' + id);
                if (elem.length) {
                    setTimeout(function() {
                        $('body,html').scrollTop(elem.position().top);
                    });
                    elem.find('.toggler').click();
                    var section = elem.parents('.section').first();
                    if (section) {
                        section.addClass('active');
                        section.find('.section-list').slideDown('fast');
                    }
                }
                {% if enableSandbox %}
                    loadStoredAuthParams();
                {% endif %}
            });

            $('.toggler').click(function(event) {
                var contentContainer = $(this).next();

                if(contentContainer.is(':visible')) {
                    clearHash();
                } else {
                    setHash($(this).data('href'));
                }

                contentContainer.slideToggle('fast');
                return false;
            });

            $('.action-show-hide, .section > h1').on('click', function(){
                var section = $(this).parents('.section').first();
                if (section.hasClass('active')) {
                    section.removeClass('active');
                    section.find('.section-list').slideUp('fast');
                } else {
                    section.addClass('active');
                    section.find('.section-list').slideDown('fast');
                }

            });

            $('.action-list').on('click', function(){
                var section = $(this).parents('.section').first();
                if (!section.hasClass('active')) {
                    section.addClass('active');
                }
                section.find('.section-list').slideDown('fast');
                section.find('.operation > .content').slideUp('fast');
            });

            $('.action-expand').on('click', function(){
                var section = $(this).parents('.section').first();
                if (!section.hasClass('active')) {
                    section.addClass('active');
                }
                $(section).find('ul').slideDown('fast');
                $(section).find('.operation > .content').slideDown('fast');
            });

            {% if enableSandbox %}
                var getStoredValue, storeValue, deleteStoredValue;
                var apiAuthKeys = ['api_key', 'api_login', 'api_pass', 'api_endpoint'];

                if ('localStorage' in window) {
                    var buildKey = function (key) {
                        return 'nelmio_' + key;
                    }

                    getStoredValue = function (key) {
                        return localStorage.getItem(buildKey(key));
                    }

                    storeValue = function (key, value) {
                        localStorage.setItem(buildKey(key), value);
                    }

                    deleteStoredValue = function (key) {
                        localStorage.removeItem(buildKey(key));
                    }
                } else {
                    getStoredValue = storeValue = deleteStoredValue = function (){};
                }

                var loadStoredAuthParams = function() {
                    $.each(apiAuthKeys, function(_, value) {
                        var elm = $('#' + value);
                        if (elm.length) {
                            elm.val(getStoredValue(value));
                        }
                    });
                }

                var setParameterType = function ($context,setType) {
                    // no 2nd argument, use default from parameters
                    if (typeof setType == "undefined") {
                        setType = $context.parent().attr("data-dataType");
                        $context.val(setType);
                    }

                    $context.parent().find('.value').remove();
                    var placeholder = "";
                    if ($context.parent().attr("data-dataType") != "" && typeof $context.parent().attr("data-dataType") != "undefined") {
                        placeholder += "[" + $context.parent().attr("data-dataType") + "] ";
                    }
                    if ($context.parent().attr("data-format") != "" && typeof $context.parent().attr("data-format") != "undefined") {
                        placeholder += $context.parent().attr("data-dataType");
                    }
                    if ($context.parent().attr("data-description") != "" && typeof $context.parent().attr("data-description") != "undefined") {
                        placeholder += $context.parent().attr("data-description");
                    } else {
                        placeholder += "Value";
                    }

                    switch(setType) {
                        case "boolean":
                            $('<select class="value"><option value=""></option><option value="1">True</option><option value="0">False</option></select>').insertAfter($context);
                            break;
                        case "file":
                            $('<input type="file" class="value" placeholder="'+ placeholder +'">').insertAfter($context);
                            break;
                        default:
                            $('<input type="text" class="value" placeholder="'+ placeholder +'">').insertAfter($context);
                    }
                };

                var toggleButtonText = function ($btn) {
                    if ($btn.text() === 'Default') {
                        $btn.text('Raw');
                    } else {
                        $btn.text('Default');
                    }
                };

                var renderRawBody = function ($container) {
                    var rawData, $btn;

                    rawData = $container.data('raw-response');
                    $btn = $container.parents('.pane').find('.to-raw');

                    $container.addClass('prettyprinted');
                    $container.html($('<div/>').text(rawData).html());

                    $btn.removeClass('to-raw');
                    $btn.addClass('to-prettify');

                    toggleButtonText($btn);
                };

                var renderPrettifiedBody = function ($container) {
                    var rawData, $btn;

                    rawData = $container.data('raw-response');
                    $btn = $container.parents('.pane').find('.to-prettify');

                    $container.removeClass('prettyprinted');
                    $container.html(attachCollapseMarker(prettifyResponse(rawData)));
                    prettyPrint && prettyPrint();

                    $btn.removeClass('to-prettify');
                    $btn.addClass('to-raw');

                    toggleButtonText($btn);
                };

                var unflattenDict = function (body) {
                    var found = true;
                    while(found) {
                        found = false;

                        for (var key in body) {
                            var okey;
                            var value = body[key];
                            var dictMatch = key.match(/^(.+)\[([^\]]+)\]$/);

                            if(dictMatch) {
                                found = true;
                                okey = dictMatch[1];
                                var subkey = dictMatch[2];
                                body[okey] = body[okey] || {};
                                body[okey][subkey] = value;
                                delete body[key];
                            } else {
                                body[key] = value;
                            }
                        }
                    }
                    return body;
                };

                $('#save_api_auth').click(function(event) {
                    $.each(apiAuthKeys, function(_, value) {
                        var elm = $('#' + value);
                        if (elm.length) {
                            storeValue(value, elm.val());
                        }
                    });
                });

                $('#clear_api_auth').click(function(event) {
                    $.each(apiAuthKeys, function(_, value) {
                        deleteStoredValue(value);
                        var elm = $('#' + value);
                        if (elm.length) {
                            elm.val('');
                        }
                    });
                });

                $('.tabs li').click(function() {
                    var contentGroup = $(this).parents('.content');

                    $('.pane.selected', contentGroup).removeClass('selected');
                    $('.pane.' + $(this).data('pane'), contentGroup).addClass('selected');

                    $('li', $(this).parent()).removeClass('selected');
                    $(this).addClass('selected');
                });

                var getJsonCollapseHtml = function(sectionOpenCharacter) {
                    var $toggler = $('<span>').addClass('json-collapse-section').
                            attr('data-section-open-character', sectionOpenCharacter).
                            append($('<span>').addClass('json-collapse-marker')
                                    .html('&#9663;')
                    ).append(sectionOpenCharacter);
                    return $('<div>').append($toggler).html();
                };

                var attachCollapseMarker = function (prettifiedJsonString) {
                    prettifiedJsonString = prettifiedJsonString.replace(/(\{|\[)\n/g, function(match, sectionOpenCharacter) {
                        return getJsonCollapseHtml(sectionOpenCharacter) + '<span class="json-collapse-content">\n';
                    });
                    return prettifiedJsonString.replace(/([^\[][\}\]],?)\n/g, '$1</span>\n');
                };

                var prettifyResponse = function(text) {
                    try {
                        var data = typeof text === 'string' ? JSON.parse(text) : text;
                        text = JSON.stringify(data, undefined, '  ');
                    } catch (err) {
                    }

                    // HTML encode the result
                    return $('<div>').text(text).html();
                };

                var displayFinalUrl = function(xhr, method, url, data, container) {
                    if ('GET' == method && !jQuery.isEmptyObject(data)) {
                        var separator = url.indexOf('?') >= 0 ? '&' : '?';
                        url = url + separator + decodeURIComponent(jQuery.param(data));
                    }

                    container.text(method + ' ' + url);
                };

                var displayProfilerUrl = function(xhr, link, container) {
                    var profilerUrl = xhr.getResponseHeader('X-Debug-Token-Link');
                    if (profilerUrl) {
                        link.attr('href', profilerUrl);
                        container.show();
                    } else {
                        link.attr('href', '');
                        container.hide();
                    }
                }

                var displayResponseData = function(xhr, container) {
                    var data = xhr.responseText;

                    container.data('raw-response', data);

                    renderPrettifiedBody(container);

                    container.parents('.pane').find('.to-prettify').text('Raw');
                    container.parents('.pane').find('.to-raw').text('Raw');
                };

                var displayResponseHeaders = function(xhr, container) {
                    var text = xhr.status + ' ' + xhr.statusText + "\n\n";
                    text += xhr.getAllResponseHeaders();

                    container.text(text);
                };

                var displayResponse = function(xhr, method, url, data, result_container) {
                    displayFinalUrl(xhr, method, url, data, $('.url', result_container));
                    displayProfilerUrl(xhr, $('.profiler-link', result_container), $('.profiler', result_container));
                    displayResponseData(xhr, $('.response', result_container));
                    displayResponseHeaders(xhr, $('.headers', result_container));

                    result_container.show();
                };

                $('.pane.sandbox form').submit(function() {
                    var url = $(this).attr('action'),
                        method = $('[name="header_method"]', this).val(),
                        self = this,
                        params = {},
                        formData = new FormData(),
                        doubledParams = {},
                        headers = {},
                        content = $(this).find('textarea.content').val(),
                        result_container = $('.result', $(this).parent());

                    if (method === 'ANY') {
                        method = 'POST';
                    }

                    // set requestFormat
                    var requestFormatMethod = '{{ requestFormatMethod }}';
                    if (requestFormatMethod == 'format_param') {
                        params['_format'] = $('#request_format option:selected').text();
                        formData.append('_format',$('#request_format option:selected').text());
                    } else if (requestFormatMethod == 'accept_header') {
                        headers['Accept'] = $('#request_format').val();
                    }

                    // set default bodyFormat
                    var bodyFormat = $('#body_format').val() || '{{ defaultBodyFormat }}';

                    if(!('Content-type' in headers)) {
                        if (bodyFormat == 'form') {
                            headers['Content-type'] = 'application/x-www-form-urlencoded';
                        } else {
                            headers['Content-type'] = 'application/json';
                        }
                    }

                    var hasFileTypes = false;
                    $('.parameters .tuple_type', $(this)).each(function() {
                        if ($(this).val() == 'file') {
                            hasFileTypes = true;
                        }
                    });

                    if (hasFileTypes && method != 'POST') {
                        alert("Sorry, you can only submit files via POST.");
                        return false;
                    }

                    if (hasFileTypes && bodyFormat != 'form') {
                        alert("Body Format must be set to 'Form Data' when utilizing file upload type parameters.\nYour current bodyFormat is '" + bodyFormat + "'. Change your BodyFormat or do not use file type\nparameters.");
                        return false;
                    }

                    if (hasFileTypes) {
                        // retrieve all the parameters to send for file upload
                        $('.parameters .tuple', $(this)).each(function() {
                            var key, value;

                            key = $('.key', $(this)).val();
                            if ($('.value', $(this)).attr('type') === 'file' ) {
                                value = $('.value', $(this)).prop('files')[0];
                            } else {
                                value = $('.value', $(this)).val();
                            }

                            if (value) {
                                formData.append(key,value);
                            }
                        });
                    }


                    // retrieve all the parameters to send
                    $('.parameters .tuple', $(this)).each(function() {
                        var key, value;

                        key = $('.key', $(this)).val();
                        value = $('.value', $(this)).val();

                        if (value) {
                            // temporary save all additional/doubled parameters
                            if (key in params) {
                                doubledParams[key] = value;
                            } else {
                                params[key] = value;
                            }
                        }
                    });





                    // retrieve the additional headers to send
                    $('.headers .tuple', $(this)).each(function() {
                        var key, value;

                        key = $('.key', $(this)).val();
                        value = $('.value', $(this)).val();

                        if (value) {
                            headers[key] = value;
                        }

                    });

                    // fix parameters in URL
                    for (var key in $.extend({}, params)) {
                        if (url.indexOf('{' + key + '}') !== -1) {
                            url = url.replace('{' + key + '}', params[key]);
                            delete params[key];
                        }
                    };

                    // merge additional params back to real params object
                    if (!$.isEmptyObject(doubledParams)) {
                        $.extend(params, doubledParams);
                    }

                    // disable all the fiels and buttons
                    $('input, button', $(this)).attr('disabled', 'disabled');

                    // append the query authentication
                    var api_key_val = $('#api_key').val();
                    if (authentication_delivery == 'query' && api_key_val.length>0) {
                        url += url.indexOf('?') > 0 ? '&' : '?';
                        url += api_key_parameter + '=' + api_key_val;
                    }

                    // prepare the api enpoint
                    {% if endpoint == '' and app.request is not null and app.request.host -%}
                    var endpoint = '{{ app.request.getBaseUrl() }}';
                    {% else -%}
                    var endpoint = '{{ endpoint }}';
                    {% endif -%}
                    {% if authentication and authentication.custom_endpoint %}
                    if ($('#api_endpoint') && typeof($('#api_endpoint').val()) != 'undefined') {
                        endpoint = $('#api_endpoint').val();
                    }
                    {% endif %}

                    // Workaround for Firefox bug and a thereby resulting nginx incompatibility
                    if (method == "LINK") {
                        method = "POST";
                        params._method = "LINK";
                    }

                    // prepare final parameters
                    var body = {};
                    if(bodyFormat == 'json' && method != 'GET') {
                        body = unflattenDict(params);
                        body = JSON.stringify(body);
                    } else {
                        body = params;
                    }
                    var data = content.length ? content : body;
                    var ajaxOptions = {
                        url: (url.indexOf('http')!=0?endpoint:'') + url,
                        type: method,
                        data: data,
                        headers: headers,
                        crossDomain: true,
                        beforeSend: function (xhr) {
                            if (authentication_delivery) {
                                var value;

                                if ('http' == authentication_delivery) {
                                    if ('basic' == authentication_type) {
                                        value = 'Basic ' + btoa($('#api_login').val() + ':' + $('#api_pass').val());
                                    } else if ('bearer' == authentication_type) {
                                        value = 'Bearer ' + $('#api_key').val();
                                    }
                                } else if ('header' == authentication_delivery) {
                                    value = $('#api_key').val();
                                }

                                xhr.setRequestHeader(api_key_parameter, value);
                            }
                        },
                        complete: function(xhr) {
                            displayResponse(xhr, method, url, data, result_container);

                            // and enable them back
                            $('input:not(.content-type), button', $(self)).removeAttr('disabled');
                        }
                    };

                    // overrides body format to send data properly
                    if (hasFileTypes) {
                        ajaxOptions.data = formData;
                        ajaxOptions.processData = false;
                        ajaxOptions.contentType = false;
                    }

                    // and trigger the API call
                    $.ajax(ajaxOptions);

                    return false;
                });

                $('.operations').on('click', '.operation > .heading', function(e) {
                    if (history.pushState) {
                        history.pushState(null, null, $(this).data('href'));
                        e.preventDefault();
                    }
                });

                $(document).on('click', '.json-collapse-section', function() {
                    var openChar = $(this).data('section-open-character'),
                            closingChar = (openChar == '{' ? '}' : ']');
                    if ($(this).next('.json-collapse-content').is(':visible')) {
                        $(this).html('&oplus;' +  openChar + '...' + closingChar);
                    } else {
                        $(this).html('&#9663;' + $(this).data('section-open-character'));
                    }
                    $(this).next('.json-collapse-content').toggle();
                });

                $(document).on('copy', '.prettyprinted', function () {
                    var $toggleMarkers = $(this).find('.json-collapse-marker');
                    $toggleMarkers.hide();
                    setTimeout(function () {
                        $toggleMarkers.show();
                    }, 100);
                });

                $('.pane.sandbox').on('click', '.to-raw', function(e) {
                    renderRawBody($(this).parents('.pane').find('.response'));

                    e.preventDefault();
                });

                $('.pane.sandbox').on('click', '.to-prettify', function(e) {
                    renderPrettifiedBody($(this).parents('.pane').find('.response'));

                    e.preventDefault();
                });

                $('.pane.sandbox').on('click', '.to-expand, .to-shrink', function(e) {
                    var $headers = $(this).parents('.result').find('.headers');
                    var $label = $(this).parents('.result').find('a.to-expand');

                    if ($headers.hasClass('to-expand')) {
                        $headers.removeClass('to-expand');
                        $headers.addClass('to-shrink');
                        $label.text('Shrink');
                    } else {
                        $headers.removeClass('to-shrink');
                        $headers.addClass('to-expand');
                        $label.text('Expand');
                    }

                    e.preventDefault();
                });


                // sets the correct parameter type on load
                $('.pane.sandbox .tuple_type').each(function() {
                    setParameterType($(this));
                });


                // handles parameter type change
                $('.pane.sandbox').on('change', '.tuple_type', function() {
                    setParameterType($(this),$(this).val());
                });



                $('.pane.sandbox').on('click', '.add_parameter', function() {
                    var html = $(this).parents('.pane').find('.parameters_tuple_template').html();

                    $(this).before(html);

                    return false;
                });

                $('.pane.sandbox').on('click', '.add_header', function() {
                    var html = $(this).parents('.pane').find('.headers_tuple_template').html();

                    $(this).before(html);

                    return false;
                });

                $('.pane.sandbox').on('click', '.remove', function() {
                    $(this).parent().remove();
                });

                $('.pane.sandbox').on('click', '.set-content-type', function(e) {
                    var html;
                    var $element;
                    var $headers = $(this).parents('form').find('.headers');
                    var content_type = $(this).prev('input.value').val();

                    e.preventDefault();

                    if (content_type.length === 0) {
                        return;
                    }

                    $headers.find('input.key').each(function() {
                        if ($.trim($(this).val().toLowerCase()) === 'content-type') {
                            $element = $(this).parents('p');
                            return false;
                        }
                    });

                    if (typeof $element === 'undefined') {
                        html = $(this).parents('.pane').find('.tuple_template').html();

                        $element = $headers.find('legend').after(html).next('p');
                    }

                    $element.find('input.key').val('Content-Type');
                    $element.find('input.value').val(content_type);

                });

                {% if authentication and authentication.delivery == 'http' %}
                var authentication_delivery = '{{ authentication.delivery }}';
                var api_key_parameter = '{{ authentication.name }}';
                var authentication_type = '{{ authentication.type }}';
                {% elseif authentication and authentication.delivery == 'query' %}
                var authentication_delivery = '{{ authentication.delivery }}';
                var api_key_parameter = '{{ authentication.name }}';
                var search = window.location.search;
                var api_key_start = search.indexOf(api_key_parameter) + api_key_parameter.length + 1;

                if (api_key_start > 0 ) {
                    var api_key_end = search.indexOf('&', api_key_start);

                    var api_key = -1 == api_key_end
                        ? search.substr(api_key_start)
                        : search.substring(api_key_start, api_key_end);

                    $('#api_key').val(api_key);
                }
                {% elseif authentication and authentication.delivery == 'header' %}
                var authentication_delivery = '{{ authentication.delivery }}';
                var api_key_parameter = '{{ authentication.name }}';
                {% else %}
                var authentication_delivery = false;
                {% endif %}
            {% endif %}
        </script>
    </div>
{% endblock %}
