{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            {% if error %}
                <div class="notice">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="form-group">
                <input type="text" class="form-control input-block-level" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>
            <div class="form-group">
                <input type="password"  class="form-control input-block-level" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" id="password" name="_password" required="required" />
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <input type="submit" id="_submit" class="btn btn-block btn-large btn-primary" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                </div>
            </div>
            <div class="social-auth-links text-center">
                <a href="{{ path('fos_user_registration_register') }}">{% trans %}Register{% endtrans %}</a>
                <br>
                <a href="{{ path('fos_user_resetting_request') }}">{% trans %}Forgot your password?{% endtrans %}</a>
            </div>
        </form>

{% endblock fos_user_content %}
