{% macro progressbar(max, usedval) %}
  <div class="progress progress-info progress-striped">
    <div class="bar" style="width: {{ usedval * 100 /  max }}%"></div>
  </div>
{% endmacro %}

{% import _self as utils %}

<h2>Quota List</h2>
<table class="records_list table">
    <thead>
        <th>Service</th>
        <th>Limit / Used</th>
    </thead>
    <tr>
        <td>HTTPD Host</td>
        <td>
          {{ utils.progressbar(max_httpd_host,used_httpd_host) }}
          {{max_httpd_host}} / {{used_httpd_host}}</td>
    </tr>
    <tr>
        <td>HTTPD Alias</td>
        <td>
          {{ utils.progressbar(max_httpd_alias,used_httpd_alias) }}
          {{max_httpd_alias}} / {{used_httpd_alias}}</td>
    </tr>
    <tr>
        <td>HTTPD Users</td>
        <td>
          {{ utils.progressbar(max_httpd_user,used_httpd_user) }}
          {{max_httpd_user}} / {{used_httpd_user}}</td>
    </tr>
    <tr>
        <td>dns Domain</td>
        <td>
          {{ utils.progressbar(max_dns_domain,used_dns_domain) }}
          {{max_dns_domain}} / {{used_dns_domain}}</td>
    </tr>
    <tr>
        <td>Mail Domain</td>
        <td>
          {{ utils.progressbar(max_mail_domain,used_mail_domain) }}
          {{max_mail_domain}} / {{used_mail_domain}}</td>
    </tr>
    <tr>
        <td>Mail Mailbox</td>
        <td>
          {{ utils.progressbar(max_mail_mailbox,used_mail_mailbox) }}
          {{max_mail_mailbox}} / {{used_mail_mailbox}}</td>
    </tr>
    <tr>
        <td>Mail Alias</td>
        <td>
          {{ utils.progressbar(max_mail_alias,used_mail_alias) }}
          {{max_mail_alias}} / {{used_mail_alias}}</td>
    </tr>
    <tr>
        <td>Mail Alias Domain</td>
        <td>
          {{ utils.progressbar(max_mail_alias_domain,used_mail_alias_domain) }}
          {{max_mail_alias_domain}} / {{used_mail_alias_domain}}</td>
    </tr>
    <tr>
        <td>FTPD</td>
        <td>
          {{ utils.progressbar(max_ftpd,used_ftpd) }}
          {{max_ftpd}} / {{used_ftpd}}</td>
    </tr>
</table>

