{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 'highlight.css' %}
        <link rel="stylesheet" type="text/css" href="" />
        <script type="text/javascript" src="{{ asset('bundles/acsacspanel/js/jquery.highlight-4.closure.js')}}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
<h1>MailAliasDomain list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Aliasdomain</th>
            <th>Enabled</th>
            <th>Createdat</th>
            <th>Updatedat</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('mailaliasdomain_show', { 'id': entity.id }) }}">{{ entity.aliasDomain }}</a></td>
            <td align="center"><img src="{% if entity.enabled %}{{ asset('images/true_tick.png') }}{% else %}{{ asset('images/false_tick.png') }}{% endif %}" alt="" /></td>
            <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('mailaliasdomain_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('mailaliasdomain_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('mailaliasdomain_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}
