{% extends '::base.html.twig' %}
{% block page_title %} - {% trans %}MailMailbox{% endtrans %}{% endblock %}
{% block body %}

<table class="record_properties table">
    <tbody>
        <tr>
            <th>{% trans %}mailbox.field.username{% endtrans %}</th>
            <td>{{ entity.username }}</td>
        </tr>
        <tr>
            <th>{% trans %}mailbox.field.password{% endtrans %}</th>
            <td>{{ entity.password }}</td>
        </tr>
        <tr>
            <th>{% trans %}mailbox.field.name{% endtrans %}</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>{% trans %}mailbox.field.maildir{% endtrans %}</th>
            <td>{{ entity.maildir }}</td>
        </tr>
        <tr>
            <th>{% trans %}mailbox.field.quotalimit{% endtrans %}</th>
            <td>{{ entity.quotaLimit }}</td>
        </tr>
        <tr>
            <th>{% trans %}mailbox.field.usedquota{% endtrans %}</th>
            <td>{{ entity.usedQuota }}</td>
        </tr>
        <tr>
            <th>{% trans %}mailbox.field.bytes{% endtrans %}</th>
            <td>{{ entity.bytes }}</td>
        </tr>
        <tr>
            <th>{% trans %}mailbox.field.messages{% endtrans %}</th>
            <td>{{ entity.messages }}</td>
        </tr>
        <tr>
            <th>{% trans %}mailbox.field.created_at{% endtrans %}</th>
            <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{% trans %}mailbox.field.updated_at{% endtrans %}</th>
            <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('mailmailbox') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('mailmailbox_edit', { 'id': entity.id }) }}">
            {% trans %}Edit{% endtrans %}
        </a>
    </li>
    <li>
        <form action="{{ path('mailmailbox_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{% trans %}Delete{% endtrans %}</button>
        </form>
    </li>
</ul>
{% endblock %}
