{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
    <div class="notice">{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post">
            <h1>ACSPanel</h1>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <ul class="loginfields">
                <li>
                    <input type="text" class="input-block-level" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" id="username" name="_username" value="{{ last_username }}" required="required" />
                </li>
                <li>
                    <input type="password"  class="input-block-level" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" id="password" name="_password" required="required" />
                </li>
                </li>
                <li style="text-align: right;">
                    <a href="{{ path('fos_user_registration_register') }}">{% trans %}Register{% endtrans %}</a>
                </li>
                <li style="text-align: right;">
                    <a href="{{ path('fos_user_resetting_request') }}">{% trans %}Forgot your password?{% endtrans %}</a>
                </li>
                <li>
                    <input type="submit" id="_submit" class="btn btn-large btn-success" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                </li>
            </ul>
        </form>

{% endblock fos_user_content %}
