{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
    <div class="notice">{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <ul class="loginfields">
                <li>
                    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                </li>
                <li>
                    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                    <input type="password" id="password" name="_password" required="required" />
                </li>
                </li>
                <li>
                    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                </li>
            </ul>
        </form>

{% endblock fos_user_content %}
