{% extends '::base.html.twig' %}
{% block page_title %} - {% trans %}DnsRecord creation{% endtrans %}{% endblock %}
{% block body %}

<div class="form_box">
    <form action="{{ path('dyndns_create') }}" method="post" {{ form_enctype(form) }}>
        <span class="label label-important">{{ form_errors(form) }}</span>
        {{ form_widget(form) }}
        <p>
            <button class="btn btn-success" type="submit">{%trans%}Create{%endtrans%}</button>
        </p>
    </form>
</div>

<ul class="record_actions">
    <li>
        <a href="{{ path('dnsrecord') }}">
            {%trans%}Back to the list{%endtrans%}
        </a>
    </li>
</ul>

{% endblock %}
