<h2>Quota List</h2>
<table border="0">
    <thead>
        <th>Service</th>
        <th>Limit / Used</th>
    </thead>    
    <tr>
        <td>HTTPD Host</td>
        <td>{{max_httpd_host}} / {{used_httpd_host}}</td>
    </tr>
    <tr>
        <td>HTTPD Alias</td>
        <td>{{max_httpd_alias}} / {{used_httpd_alias}}</td>
    </tr>
    <tr>
        <td>HTTPD Users</td>
        <td>{{max_httpd_user}} / {{used_httpd_user}}</td>
    </tr>
    <tr>
        <td>dns Domain</td>
        <td>{{max_dns_domain}} / {{used_dns_domain}}</td>
    </tr>
    <tr>
        <td>Mail Domain</td>
        <td>{{max_mail_domain}} / {{used_mail_domain}}</td>
    </tr>
    <tr>
        <td>Mail Mailbox</td>
        <td>{{max_mail_mailbox}} / {{used_mail_mailbox}}</td>
    </tr>
    <tr>
        <td>Mail Alias</td>
        <td>{{max_mail_alias}} / {{used_mail_alias}}</td>
    </tr>
    <tr>
        <td>Mail Alias Domain</td>
        <td>{{max_mail_alias_domain}} / {{used_mail_alias_domain}}</td>
    </tr>
    <tr>
        <td>FTPD</td>
        <td>{{max_ftpd}} / {{used_ftpd}}</td>
    </tr>
</table>

