{% extends '::base.html.twig' %}
{% block page_title %} - {% trans %}user list{% endtrans %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
        <script type="text/javascript" src="{{ asset('bundles/acsacspanel/js/jquery.highlight-4.closure.js')}}"></script>
{% endblock %}

{% block breadcumb  %}
    {{ parent() }}
    <li>{% trans %}breadcumb.sep{% endtrans %} <a href="{{ path('users') }}"> {% trans %}users{% endtrans %}</a></li>
    <li>{% trans %}breadcumb.sep{% endtrans %} {% trans %}users.title.index{% endtrans %}</li>
{% endblock %}

{% block body %}

<div class="box box-body">
    <table class="records_list table table-striped table-bordered datatable">
        <thead>
            <tr>
                <th class="center">{% trans %}user.field.enabled{% endtrans %}</th>
                <th>{% trans %}user.field.username{% endtrans %}</th>
                <th>{% trans %}user.field.name{% endtrans %}</th>
                <th>{% trans %}user.field.email{% endtrans %}</th>
                <th>{% trans %}user.field.lastlogin{% endtrans %}</th>
                <th>{% trans %}user.field.plans{% endtrans %}</th>
                <th>{% trans %}user.field.roles{% endtrans %}</th>
                <th>{% trans %}user.field.childs{% endtrans %}</th>
                <th>{% trans %}user.field.actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            {% if is_granted('role_super_admin') or entity.parentuser|length and entity.parentuser.id == app.user.id %}
                <tr>
                    <td data-title="{% trans %}user.field.enabled{% endtrans %}" class="center"><img src="{% if entity.enabled %}{{ asset('images/true_tick.png') }}{% else %}{{ asset('images/false_tick.png') }}{% endif %}" alt="" /></td>
                    <td data-title="{% trans %}user.field.username{% endtrans %}"><a href="{{ path('users_show', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
                    <td data-title="{% trans %}user.field.name{% endtrans %}">{{ entity.firstname }} {{ entity.lastname }}</td>
                    <td data-title="{% trans %}user.field.email{% endtrans %}"><a href="mailto://{{ entity.email }}">{{ entity.email }}</a></td>
                    <td data-title="{% trans %}user.field.lastlogin{% endtrans %}">{% if entity.lastlogin %}{{ entity.lastlogin|date(date_format) }}{% endif %}</td>
                    {#<td align="center"><img src="{% if entity.locked %}{{ asset('images/true_tick.png') }}{% else %}{{ asset('images/false_tick.png') }}{% endif %}" alt="" /></td>#}
                    <td data-title="{% trans %}user.field.plans{% endtrans %}"><ul>{% for plan in entity.plans %} <li> {{ plan }} </li> {% endfor %}</ul></td>
                    <td data-title="{% trans %}user.field.roles{% endtrans %}"><ul>{% for role in entity.roles %} <li> {{ role }} </li> {% endfor %}</ul></td>
                    <td data-title="{% trans %}user.field.childs{% endtrans %}">
                        {% if entity.childusers|length %}
                            <ul>
                            {% for child in entity.childusers %}
                                <li><a href="{{ path('users_show', { 'id': child.id }) }}">{{ child.username }}</a></li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </td>
                    <td data-title="{% trans %}user.field.actions{% endtrans %}">
                        <div class="dropdown">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                {% trans %}user.field.actions{% endtrans %}
                                <span class="caret"></span>
                            </a>
                        <ul class="dropdown-menu" role="menu">
                            {% if is_granted('role_super_admin') %}
                                <li>
                                    <a href="{{ path('users_switch', { 'id': entity.id }) }}">{% trans %}user.button.switch{% endtrans %}</a>
                                </li>
                            {% elseif entity.parentuser %}
                                {% if entity.parentuser.id == app.user.id  %}
                                    <li>
                                        <a href="{{ path('users_switch', { 'id': entity.id }) }}">{% trans %}user.button.switch{% endtrans %}</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                            <li>
                                <a href="{{ path('users_show', { 'id': entity.id }) }}">{% trans %}user.button.show{% endtrans %}</a>
                            </li>
                            <li>
                                <a href="{{ path('users_edit', { 'id': entity.id }) }}">{% trans %}user.button.edit{% endtrans %}</a>
                            </li>
                        </ul>
                </div>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>

<ul>
    <li>
        <a href="{{ path('users_new') }}">
            {% trans %}user.button.add{% endtrans %}
        </a>
    </li>
</ul>

{% endblock %}
