{% extends '::base.html.twig' %}
{% block page_title %} - {% trans %}Logs registry{% endtrans %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/acsacspanel/js/jquery.highlight-4.closure.js')}}"></script>
{% endblock %}

{% block body %}

<div class="box box-primary box-body">
    <table class="records_list table table-striped table-bordered datatable">
        <thead>
            <tr>
                <th>{% trans %}User{% endtrans %}</th>
                <th>{% trans %}Action{% endtrans %}</th>
                <th>{% trans %}Object id{% endtrans %}</th>
                <th>{% trans %}Object class{% endtrans %}</th>
                <th>{% trans %}Logged at{% endtrans %}</th>
                <th>{% trans %}Version{% endtrans %}</th>
                {#<th>{% trans %}Data{% endtrans %}</th>#}
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td data-title="{% trans %}User{% endtrans %}">{{ entity.username }}</td>
                <td data-title="{% trans %}Action{% endtrans %}">{{ entity.action }}</td>
                <td data-title="{% trans %}Object ID{% endtrans %}">{{ entity.objectid }}</td>
                <td data-title="{% trans %}Object class{% endtrans %}">{{ entity.objectclass }}</td>
                <td data-title="{% trans %}Logged at{% endtrans %}">{{ entity.loggedat |date(date_format )}}</td>
                <td data-title="{% trans %}Version{% endtrans %}">{{ entity.version }}</td>
                {# }<td>{% for value in entity.data %}{{ value }}{% endfor %}</td> #}
                <td data-title="{% trans %}Actions{% endtrans %}">
                        <div class="dropdown">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                {% trans %}Actions{% endtrans %}
                                <span class="caret"></span>
                            </a>
                        <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{{ path('logitem_show', { 'id': entity.id }) }}">{% trans %}show{% endtrans %}</a>
                        </li>
                        {% if entity.version > 1 %}
                            <li>
                                <a href="{{ path('logitem_versions', { 'id': entity.id }) }}">{% trans %}rollback{% endtrans %}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
